<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Chi tiết xe</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row element-button">
  </div>
  <div class="tile">
    <form class="row">
      {{#each data}}
      <p class="col-md-2"
        style="border-radius: 5px; font-weight: bold;   height: 40px; text-align: center; padding-top: 10px; color: white; "
        id="trangthaititlle">{{this.TrangThai}}</p>
      <p class="col-md-12"> </p>


      <div class="form-group col-md-3">
        <label class="control-label">Biển số xe</label>
        <div class="form-control">
          <p><b>{{this.BKS}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Hãng xe</label>
        <div class="form-control">
          <p><b>{{this.HangXe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tên xe</label>
        <div class="form-control">
          <p><b>{{this.MauXe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Năm sản xuất</label>
        <div class="form-control">
          <p><b>{{this.NSX}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Loại nhiêu liệu</label>
        <div class="form-control">
          <p><b>{{this.LoaiNhienLieu}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Truyền động</label>
        <div class="form-control">
          <p><b>{{this.ChuyenDong}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Số ghế</label>
        <div class="form-control">
          <p><b>{{this.SoGhe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Giá thuê</label>
        <div class="form-control">
          <p><b id="giathue">{{this.GiaThue1Ngay}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tiêu hao</label>
        <div class="form-control">
          <p><b id="tieuhao">{{this.TieuHao}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Số chuyến</label>
        <div class="form-control">
          <p><b>{{this.SoChuyen}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Trạng Thái</label>
        <div class="form-control">
          <p><b id="trangthai">{{this.TrangThai}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tên chủ xe</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.UserName}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Số điện thoại</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.SDT}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Email</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.Email}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Ngày Đăng</label>
        <div class="form-control">
          <p><b id="ngaydang">{{this.createdAt}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">

      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Địa chỉ Xe</label>
        <textarea class="form-control">{{this.DiaChiXe}}</textarea>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label">Mô tả</label>
        <textarea class="form-control" style=" width: 550px;">{{this.MoTa}}</textarea>
      </div>
      <div class="form-group col-md-3">

      </div>

      <div class="end"  >
        
        <div class="form-group1 " style="margin-left:20px; display: inline-block; ">
          <label class="control-label">Ảnh xe</label> <BR>
          <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="100px" width="150px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP">
        </div>
        <div class="form-group " style="margin-left:20px;display: inline-block;">
          <label class="control-label">Giấy tờ xe</label><BR>
          <img src="/images/{{this.DangKyXe}}" alt="" height="100px"
            width="150px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP1">
        </div>
        
        <div class="form-group " style="margin-left:20px;display: inline-block;">
          <label class="control-label">Bảo hiểm</label><BR>
          <img src="/images/{{this.BaoHiem}}" alt="" height="100px"
            width="150px"  type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP2">
        </div>
          <div class="form-group " style="margin-left:20px;display: inline-block;">
          <label class="control-label">Đăng kiểm</label><BR>
          <img src="/images/{{this.DangKiem}}" alt="" height="100px"
            width="150px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP4">
        </div>
      </div>

      <div class="form-group col-md-12">


      </div>
      <div class="form-group col-md-12">
        <a class="btn btn-success" id="button-duyet4" data-status="Chưa duyệt"
          onclick="onSubmit(`{{this._id}}`,1)">Duyệt</a>
        <a class="btn btn-success" href="#" id="button-sua" data-status="Chưa duyệt" data-toggle="modal"
          data-target="#ModalUP3">Sửa</a>
        <a class="btn btn-success" href="/quanlyxe/ThongTinKhachThue/{{this._id}}" id="button-xem-tt">Xem thông tin
          thuê</a>
        <a class="btn btn-cancel" id="button-tuchoi" onclick="onSubmit(`{{this._id}}`,2)">Từ chối</a>
      </div>

      {{!-- sửa trạng thái --}}
      <div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog1 modal-dialog-centered1" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Chỉnh sửa thông tin xe</h5>
                  </span>
                </div>
              </div>
              <div class="row">

                <div class="form-group col-md-6  " style="margin-left: 30px;">
                  <label for="exampleSelect1" class="control-label">Trạng thái </label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Đang hoạt động</option>
                    <option>Đã thuê</option>
                    <option>Đang bảo trì</option>
                  </select>
                </div>
              </div>
              <BR>

              <a class="btn btn-save" href="#">Lưu lại</a>
              <a class="btn btn-cancel" href="/quanlyxe/ChiTietXe/{{this._id}}">Hủy bỏ</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      {{!-- Modal --}}
      <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh xe</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">

                    <img src="/images/{{this.HinhAnh.[1]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                  <BR>
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[2]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">
                    <img src="/images/{{this.HinhAnh.[3]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                </div>
              </div>
             
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


      {{!-- ảnh bằng lái --}}
      <div class="modal fade" id="ModalUP1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bằng lái</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.DangKyXe}}" alt="" height="280px" width="400px" style="margin-left:230px;">


                  </div>
                  <BR>

                </div>
              </div>
            
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      {{!-- ảnh bảo hiểm --}}
      <div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bảo hiểm</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.BaoHiem}}" alt="" height="280px" width="400px" style="margin-left:230px;">


                  </div>
                  <BR>

                </div>
              </div>
             
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
  {{!-- đang kiểm --}}
      <div class="modal fade" id="ModalUP4" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh đăng kiểm</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.DangKiem}}" alt="" height="280px" width="400px" style="margin-left:230px;">


                  </div>
                  <BR>

                </div>
              </div>
             
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      {{/each}}

    </form>

  </div>
</main>


<!-- Essential javascripts for application to work-->

<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>


  // Thêm sự kiện click cho tất cả các nút
  for (let i = 0; i < document.querySelectorAll(".btn-success").length; i++) {
    document.querySelectorAll(".btn-success")[i].addEventListener("click", handleClick);
  }

</script>

<script>
  validatePrice()
  function validatePrice() {
    var GiaThue = document.querySelector('#giathue');
    var TieuHao = document.querySelector('#tieuhao');
    var NgayDang = document.querySelector('#ngaydang');
    var TrangThai = document.querySelector('#trangthai');
    var TrangThaiTitlle = document.getElementById('trangthaititlle');

    var duyet = document.getElementById('button-duyet4');
    var sua = document.getElementById('button-sua');
    var xemTT = document.getElementById('button-xem-tt');
    var tuchoi = document.getElementById('button-tuchoi');



    const formattedPrice = new Intl.NumberFormat('vi-VN').format(GiaThue.innerHTML, {
      minimumFractionDigits: 2,
      decimal: ',',
      thousandsSeparator: '.',
    });
    const date = new Date(NgayDang.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year

    if (TrangThai.innerHTML == 0) {
      TrangThai.innerHTML = "Đang chờ duyệt"
      TrangThaiTitlle.innerHTML = "Đang chờ duyệt"
      TrangThaiTitlle.style.background = "#F9BABA"; //#F9BABA
      sua.style.display = "none"
      xemTT.style.display = 'none'
    } else if (TrangThai.innerHTML == 1) {
      TrangThai.innerHTML = "Đang hoạt động"
      TrangThaiTitlle.innerHTML = "Đã duyệt"
      TrangThaiTitlle.style.background = "#7cea94";
      duyet.style.display = "none"
      tuchoi.style.display = 'none'
    } else if (TrangThai.innerHTML == 2) {
      TrangThai.innerHTML = "Từ chối"
      TrangThaiTitlle.innerHTML = "Xe bị từ chối"
      TrangThaiTitlle.style.background = "#e24a4a";
      duyet.style.display = "none"
      tuchoi.style.display = 'none'
      sua.style.display = "none"
      xemTT.style.display = 'none'
    }
    NgayDang.innerHTML = formattedDate;
    GiaThue.innerHTML = formattedPrice + " đ"
    TieuHao.innerHTML = TieuHao.innerHTML + " Lít/100Km"

  }
  // Hàm để hiển thị dialog loading
  function showLoading() {
    document.querySelector(".loading").style.display = "block";
  }

  // Hàm để kiểm tra kết quả của việc duyệt
  function checkResult(result) {
    if (result === true) {
      // Hiển thị thông báo thành công
      alert("Duyệt thành công");

    } else {
      // Hiển thị thông báo thất bại
      alert("Duyệt thất bại");
    }


  }

  // Hàm xử lý sự kiện nhấp vào nút duyệt
  function onSubmit(id, trangthai) {
    fetch(`/api/xe/duyet/${id}/${trangthai}`, { method: "POST" })
      .then((response) => {

        if (response.ok) {
          checkResult(true);
          location.reload(); // Reload lại trang

        } else {
          checkResult(false);
        }
      })
  }



  //In dữ liệu
  var myApp = new function () {
    this.printTable = function () {
      var tab = document.getElementById('sampleTable');
      var win = window.open('', '', 'height=700,width=700');
      win.document.write(tab.outerHTML);
      win.document.close();
      win.print();
    }
  }
  //     //Sao chép dữ liệu
  //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

  // copyTextareaBtn.addEventListener('click', function(event) {
  //   var copyTextarea = document.querySelector('.js-copytextarea');
  //   copyTextarea.focus();
  //   copyTextarea.select();

  //   try {
  //     var successful = document.execCommand('copy');
  //     var msg = successful ? 'successful' : 'unsuccessful';
  //     console.log('Copying text command was ' + msg);
  //   } catch (err) {
  //     console.log('Oops, unable to copy');
  //   }
  // });


  //Modal
  $("#show-emp").on("click", function () {
    $("#ModalUP").modal({ backdrop: false, keyboard: false })
  });
</script>
</body>

</html>