<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Hóa đơn</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row element-button">
    </div>
    <div class="tile">
        {{#each data}}
        <div class="row">
            <h2 class="col-md-8">Thông tin hóa đơn</h2>
            <p class="col-md-2" style="background: #F9BABA; width: 200px; height: 40px; text-align: center; 
                padding-top: 10px; border-radius: 10px; color: white;margin-left: 120px; font-weight: bold;"
                id="TinhTrang">
                Chưa thanh toán</p>
        </div>

        <div class="row element-button">
        </div>
        <br>
        <h1 style="font-size: 15px; ">Thông tin khách hàng</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Mã hóa đơn: <span style="font-weight: bold;">{{this.MaHD}}</span> </label>
                </div>
                <div class="col-md-12">
                    <label id="ngaytao">{{this.GioTaoHD}}</label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tên khách hàng: <span style="font-weight: bold;">{{this.User.UserName}}</span> </label>
                </div>
                <div class="col-md-12">
                    <label>Số điện thoại: {{this.User.SDT}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Email: {{this.User.Email}}</label>
                </div>
                <div class="col-md-12">
                    <label>Địa chỉ: {{this.User.DiaChi_GPLX}}</label>
                </div>
            </div>
        </div>


        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px; ">Thông tin xe</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tên xe: {{this.Xe.MauXe}}</label>
                </div>

                <div class="col-md-12">
                    <label>Biển số xe: {{this.Xe.BKS}}</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Chỗ ngồi: {{this.Xe.SoGhe}} chỗ ngồi</label>
                </div>

                <div class="col-md-12">
                    <label>Loại nhiên liệu: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Năm sản xuất: {{this.Xe.NSX}}</label>
                </div>

                <div class="col-md-12">
                    <label>Chủ xe: {{this.User.UserName}}</label>
                </div>
            </div>
        </div>


        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px;">Thông tin dịch vụ</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Ngày thuê: <span class="HSD">{{this.NgayThue}}</span> </label>
                </div>

                <div class="col-md-12">
                    <label>Ngày trả: <span class="HSD">{{this.NgayTra}}</span></label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tổng số ngày: {{this.TongSoNgayThue}} Ngày</label>
                </div>

                <div class="col-md-12">
                    <label>Mã giảm giá: {{this.MaGiamGia}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Lời nhắn : {{this.LoiNhan}}</label>
                </div>

                <div class="col-md-12">
                    <label id="LyDo" style="margin-bottom: 0px;">Lý do: {{this.LyDo}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label style="font-weight: bold;">Tình trạng : <span
                            id="TrangThai">{{this.TrangThaiHD}}</span></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Thế chấp: <span class="TheChap">{{this.TheChap}}</span></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <a id="Giaoxe" href="#"  data-toggle="modal" data-target="#ModalUP2" style="color: blue; style: dashed; text-decoration: underline;">Ảnh Xe khi giao</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <a id="Traxe" href="#" data-toggle="modal" data-target="#ModalUP3" style="color: blue; style: dashed; text-decoration: underline;">Ảnh xe khi trả</a>
                </div>
            </div>
        </div>

        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px; ">Thành tiền</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <label>Đơn giá thuê/ngày:</label>
                </div>

                <div class="col-md-12">
                    <label>Phí dịch vụ FastCar: {{this.TongSoNgayThue}} ngày</label>
                </div>
                <div class="col-md-12">
                    <label>Tổng phí: {{this.TongSoNgayThue}} ngày</label>
                </div>
                <div class="col-md-12">
                    <label>Mã khuyến mại: {{this.MaGiamGia}}</label>
                </div>
                <div class="col-md-12">
                    <label>Tổng Cộng:</label>
                </div>
                <div class="col-md-12">
                    <label>Đặt cọc (30%):</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label">Thanh toán khi nhận xe:</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label class="money"> {{this.Xe.GiaThue1Ngay}}</label>
                </div>

                <div class="col-md-12">
                    <label class="money"> {{this.PhiDV}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TongTien}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.GiamGia}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TongTien}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TienCoc}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money" style="font-weight: bold;"> {{this.ThanhToan}}</label>
                </div>

            </div>

        </div>

        {{!-- ảnh xe khi giao --}}
        <div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Ảnh xe khi giao xe</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" style=" display: flex;
                    flex-direction: column;">
                                <div class="images" style=" display: flex;">
                                    <img src="/images/{{this.HinhAnhChuXeGiaoXe.[0]}}" alt="" height="280px"
                                        width="400px" style="margin-left:120px;">
                                    <img src="/images/{{this.HinhAnhChuXeGiaoXe.[1]}}" alt="" height="280px"
                                        width="400px" style="margin-left:40px;">
                                </div>
                                <BR>
                            </div>
                        </div>
                        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:400px;">Đóng</a>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        {{!-- ảnh xe khi giao --}}
        <div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Ảnh xe khi trả xe</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" style=" display: flex;
                    flex-direction: column;">
                                <div class="images" style=" display: flex;">
                                    <img src="/images/{{this.HinhAnhKhachHangTraXe.[0]}}" alt="" height="280px"
                                        width="400px" style="margin-left:100px;">
                                    <img src="/images/{{this.HinhAnhKhachHangTraXe.[1]}}" alt="" height="280px"
                                        width="400px" style="margin-left:40px;">
                                </div>
                                <BR>
                            </div>
                        </div>
                        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:400px;">Đóng</a>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </form>
        <BR>



        <button class="btn btn-excel btn-sm" onclick="window.print()"><i class="fas fa-file-pdf"></i>Xuất PDF</button>

        <a class="btn btn-cancel" data-dismiss="modal" href="/chuyenxe">Quay lại</a>
    </div>

</main>
<script>
    load_data()
    async function load_data() {
        var HSD = document.querySelectorAll(".HSD");
        HSD.forEach((i) => {
            const date = new Date(i.innerHTML);
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            const formattedDate = day + '/' + month + '/' + year
            i.innerHTML = formattedDate
        })
    }
    var TheChap = document.querySelectorAll('.TheChap');
    TheChap.forEach((i) => {
        if (i.innerHTML === "true") {
            i.innerHTML = "Có thế chấp"


        } else {
            i.innerHTML = "Ko thế chấp"


        }
    })

</script>

<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    const money = document.querySelectorAll('.money');
    const NgayTao = document.getElementById('ngaytao');
    money.forEach((i) => {
        const formattedPrice = new Intl.NumberFormat('vi-VN').format(i.innerHTML, {
            minimumFractionDigits: 2,
            decimal: ',',
            thousandsSeparator: '.',
        });
        i.innerHTML = formattedPrice + " đ"
    })
    const date = new Date(NgayTao.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const hour = date.getHours();
    const minute = date.getMinutes();
    const second = date.getSeconds();
    const formattedDatetime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
    NgayTao.innerHTML = "Ngày Tạo: " + formattedDatetime

    const TrangThai = document.getElementById('TrangThai');
    const LyDo = document.getElementById('LyDo');
    const TinhTrang = document.getElementById('TinhTrang');
    const giaoxe = document.getElementById('Giaoxe');
    const traxe = document.getElementById('Traxe');
    if (TrangThai.innerHTML == 0) {
        TrangThai.innerHTML = "Hóa đơn đã bị hủy"
        TrangThai.style.color = "red"
        LyDo.style.display = "block"
        TinhTrang.innerHTML = "Hóa đơn bị hủy"
        traxe.style.display = "none"
        giaoxe.style.display = "none"
    } else if (TrangThai.innerHTML == 1) {
        TrangThai.innerHTML = "Chờ duyệt"
        TrangThai.style.color = '#FF8B07'
        TinhTrang.innerHTML = "Chờ duyệt"
        TinhTrang.style.background = "#FDE1C3"
        traxe.style.display = "none"
        giaoxe.style.display = "none"
        LyDo.style.display = "none"
    } else if (TrangThai.innerHTML == 2) {
        TrangThai.innerHTML = "Chờ đặt cọc"
        TrangThai.style.color = '#FF8B07'
        TinhTrang.innerHTML = "Chờ duyệt"
        TinhTrang.style.background = "#FDE1C3"
        traxe.style.display = "none"
        giaoxe.style.display = "none"
        LyDo.style.display = "none"
    } else if (TrangThai.innerHTML == 3) {
        TrangThai.innerHTML = "Đặt cọc thành công"
        TrangThai.style.color = '#22AD56'
        TinhTrang.innerHTML = "Đã đặt cọc"
        TinhTrang.style.background = "#B9FFD3"
        TinhTrang.style.color = "#24AE58"
        traxe.style.display = "none"
        giaoxe.style.display = "none"
        LyDo.style.display = "none"
    } else if (TrangThai.innerHTML == 4) {
        TrangThai.innerHTML = "Khách hàng đã nhận xe"
        TrangThai.style.color = '#22AD56'
        TinhTrang.innerHTML = "Đang hoạt động"
        TinhTrang.style.background = "#B9FFD3"
        TinhTrang.style.color = "#24AE58"
        traxe.style.display = "none"
        giaoxe.style.display = "block"
        LyDo.style.display = "none"
    } else if (TrangThai.innerHTML == 5) {
        TrangThai.innerHTML = "Khách hàng mang trả xe "
        TrangThai.style.color = '#22AD56'
        TinhTrang.innerHTML = "Đang hoạt động"
        TinhTrang.style.background = "#B9FFD3"
        TinhTrang.style.color = "#24AE58"
        traxe.style.display = "none"
        giaoxe.style.display = "block"
        LyDo.style.display = "none"
    } else if (TrangThai.innerHTML == 6) {
        TrangThai.innerHTML = "Chủ xe nhận xe thành công"
        TrangThai.style.color = '#22AD56'
        TinhTrang.innerHTML = "Hoàn thành"
        TinhTrang.style.background = "#B9FFD3"
        TinhTrang.style.color = "#24AE58"
        traxe.style.display = "block"
        giaoxe.style.display = "block"
        LyDo.style.display = "none"
    }

</script>