<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Chi tiết Khách Hàng</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row element-button">
  </div>

  <div class="tile">
    <div class="tile-body">
   
      <div class="row">
        {{#each data}}  
        </div>
         </div>
           <h2 class="col-md-9">Chi tiết khách hàng</h2>
 <div class="row element-button">
  </div>
          {{!-- <div class="col-sm-2">
              <button type="button" id="add-new-btn" class="btn btn-add btn-sm">Thông tin xe</button>
            </div>
   <div class="row element-button">
  </div>
  <form  action="/product/create_data" id="product-form" method="post" enctype="multipart/form-data"
            style="display: none;"> --}}

          
            
      <h1 style="font-size: 15px; ">Thông tin Khách hàng</h1>
        <div class="row">
           <div class="col-md-4">
                <div class="col-md-12">
                    <label>Họ và tên: {{this.Xe.MauXe}}</label>
                </div>

                <div class="col-md-12">
                    <label>Ngày sinh: {{this.Xe.BKS}}</label>
                </div>

            </div>
            <div class="col-md-4">
               <div class="col-md-12">
                    <label>Số điện thoại: {{this.Xe.SoGhe}} </label>
                </div>

                <div class="col-md-12">
                    <label>Giới tính: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
              <div class="col-md-4">    
                <div class="col-md-12">
                    <label>Email: {{this.Xe.SoGhe}} </label>
                </div>
                <div class="col-md-12">
                    <label>Địa chỉ: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Ngày tham gia: {{this.Xe.NSX}}</label>
                </div>

                <div class="col-md-12">
                    <label>Số dư ví: {{this.User.UserName}}</label>
                </div>
            </div>
             <div class="col-md-4">
                <div class="col-md-12">
                    <label >Avata :</label> 
          <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="50px" width="50px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP3">
                </div>
            </div>
          
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label >Giấy tờ xe</label>
          <img src="https://lsvn.vn/storage/uploads/2020/07/21/GPLX-01-4314-1595306430.jpg" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP1">
            <p style="margin-left: 20px;font-size: 12px;">Chưa xác minh</p>
                </div>
            </div>
                     <div class="col-md-4">      
                <div class="col-md-12">
                  <label >CMND</label>
          <img src="https://lsvn.vn/storage/uploads/2020/07/21/GPLX-01-4314-1595306430.jpg" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP5">
              <p style="margin-left: 20px; font-size: 12px;">Chưa xác minh</p>
                </div>
            </div>
        </div>
    <div class="row element-button">
  </div>
           <h1 style="font-size: 15px; ">Thông tin xe</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tên xe: {{this.Xe.MauXe}}</label>
                </div>

                <div class="col-md-12">
                    <label>Biển số xe: {{this.Xe.BKS}}</label>
                </div>

            </div>
            <div class="col-md-4">
               <div class="col-md-12">
                    <label>Hãng: {{this.Xe.SoGhe}} </label>
                </div>

                <div class="col-md-12">
                    <label>Loại nhiên liệu: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
              <div class="col-md-4">    
                <div class="col-md-12">
                    <label>Số ghế: {{this.Xe.SoGhe}} </label>
                </div>
                <div class="col-md-12">
                    <label>Truyền động: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Năm sản xuất: {{this.Xe.NSX}}</label>
                </div>

                <div class="col-md-12">
                    <label>Giá thuê: {{this.User.UserName}}</label>
                </div>
            </div>
             <div class="col-md-4">
                <div class="col-md-12">
                    <label >Ảnh xe :</label> 
          <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="50px" width="50px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP">
                </div>
            </div>
          
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label >Bảo hiểm</label>
          <img src="https://hondaotomydinh.net/wp-content/uploads/2020/08/BHTNDS.jpg" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP2">
                </div>
            </div>
        </div>

       

    

   

 
  





  {{/each}}

 
</main>
<div class="modal fade" id="ModalUP5" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh CMND</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="https://hyundaiphanthiet.vn/wp-content/uploads/2021/09/Xehay-BH-220421-6_1.jpg" alt=""
                      height="240px" width="340px" style="margin-left:40px;">

                    <img
                      src="https://luatsux.vn/wp-content/uploads/2022/07/Bao-hiem-trach-nhiem-dan-su-o-to-co-bat-buoc-khong.png"
                      alt="" height="240px" width="340px" style="margin-left:150px;">
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
               <a class="btn btn-info" data-dismiss="modal" href="#" style="margin-left: 40%;">Xác minh</a>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" >Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
 {{!-- Modal --}}
      <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh xe</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">

                    <img src="/images/{{this.HinhAnh.[1]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                  <BR>
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[2]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">
                    <img src="/images/{{this.HinhAnh.[3]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                </div>
              </div>
              <BR>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


      {{!-- ảnh bằng lái --}}
      <div class="modal fade" id="ModalUP1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bằng lái</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="https://cdn.thuvienphapluat.vn//uploads/tintuc/2022/08/22/mat-truoc-bang-lai-xe.jpg"
                      alt="" height="240px" width="340px" style="margin-left:40px;">

                    <img src="https://cdn.thuvienphapluat.vn//uploads/tintuc/2022/08/22/mat-sau-bang-lai-xe.jpg" alt=""
                      height="240px" width="340px" style="margin-left:150px;">
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
               <a class="btn btn-info" data-dismiss="modal" href="#" style="margin-left: 40%;">Xác minh</a>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" >Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      {{!-- ảnh bảo hiểm --}}
      <div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bảo hiểm</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="https://hyundaiphanthiet.vn/wp-content/uploads/2021/09/Xehay-BH-220421-6_1.jpg" alt=""
                      height="240px" width="340px" style="margin-left:40px;">

                    <img
                      src="https://luatsux.vn/wp-content/uploads/2022/07/Bao-hiem-trach-nhiem-dan-su-o-to-co-bat-buoc-khong.png"
                      alt="" height="240px" width="340px" style="margin-left:150px;">
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Avata</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex; ">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="220px" width="350px" style="margin-left:220px;">



            </div>
          </div>
          <BR>
          <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


      
  <!-- Essential javascripts for application to work-->

  <script>
    let buttonStatus = "Chưa duyệt";

    // Tạo một hàm để xử lý sự kiện click của nút
    function handleClick() {
      // Thay đổi trạng thái của nút
      buttonStatus = "Đã duyệt";

      // Thay đổi văn bản của nút
      this.textContent = buttonStatus;
    }

    // Thêm sự kiện click cho tất cả các nút
    for (let i = 0; i < document.querySelectorAll(".btn-success").length; i++) {
      document.querySelectorAll(".btn-success")[i].addEventListener("click", handleClick);
    }

  </script>
  <script src="public/js/jquery-3.2.1.min.js"></script>
  <script src="public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/jquery.table2excel.js"></script>
  <script src="/publicjs/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="/public/js/plugins/pace.min.js"></script>
  <!-- Page specific javascripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <script type="text/javascript" src="public/js/plugins/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
      jQuery(".trash").click(function () {
        swal({
          title: "Cảnh báo",

          text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
          buttons: ["Hủy bỏ", "Đồng ý"],
        })
          .then((willDelete) => {
            if (willDelete) {
              swal("Đã xóa thành công.!", {

              });
            }
          });
      });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
      $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
      e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
      var today = new Date();
      var weekday = new Array(7);
      weekday[0] = "Chủ Nhật";
      weekday[1] = "Thứ Hai";
      weekday[2] = "Thứ Ba";
      weekday[3] = "Thứ Tư";
      weekday[4] = "Thứ Năm";
      weekday[5] = "Thứ Sáu";
      weekday[6] = "Thứ Bảy";
      var day = weekday[today.getDay()];
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      nowTime = h + " giờ " + m + " phút " + s + " giây";
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
        '</span>';
      document.getElementById("clock").innerHTML = tmp;
      clocktime = setTimeout("time()", "1000", "Javascript");

      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    }
    //In dữ liệu
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('sampleTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
  </script>
  </body>

  </html>