<style>
  .btn-cancel {
    background-color: #FF6384;
    border-radius: 5px;

    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  .btn-cancel:hover {
    background-color: #FF85A1;
  }

  #button-tuchoi {
    width: 63px;
    height: 13px;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
  }
</style>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Thông tin Giao Dịch</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile1">
        <div class="tile-body">


          <div class="row">
            <h2>Thông tin Hóa đơn</h2>

          </div>

          <div class="row element-button">
          </div>
          {{#each data}}
          <h1 style="font-size: 19px; ">Thông tin khách hàng</h1>
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Mã hóa đơn: </span>
                  {{this.MaLSGD}}</label>

              </div>

              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Thời gian tạo: </span> <span
                    class="HSD"> {{this.ThoiGian}}</span></label>
              </div>

            </div>
            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size: 15px;"><span style="font-weight: bold;">Tên khách hàng: </span>
                  {{this.User.UserName}} </label>
              </div>
              <div class="col-md-12">
                <label style="font-size: 15px;"><span style="font-weight: bold;">Số điện thoại: </span>
                  {{this.User.SDT}}</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Email: </span>
                  {{this.User.Email}}</label>
              </div>
              <div class="col-md-12">
                <label style="font-size: 15px;"><span style="font-weight: bold;">Địa chỉ: </span>
                  {{this.User.DiaChi_GPLX}}</label>
              </div>
            </div>

          </div>


          <div class="row element-button">
          </div>

          <h1 style="font-size: 19px; ">Chi tiết giao dịch</h1>
          <br>
          <div class="row">

            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Tên chủ tài khoản: </span>
                  {{this.NganHang.TenChuTK}}</label>
              </div>

              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Số Tk ngân hàng: </span>
                  {{this.NganHang.SoTK}}</label>
              </div>

            </div>
            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Ngân hàng: </span>
                  {{this.NganHang.TenNH}} </label>
              </div>

              <div class="col-md-12">
                <label style="font-size: 15px;"><span style="font-weight: bold;">Số tiền: </span> <span
                    class="SoTienGD"> {{this.SoTienGD}}</span></label>
              </div>
            </div>


            <div class="col-md-3">
              <div class="col-md-12">
                <label style="font-size:  15px;"> <span style="font-weight: bold;">Trạng thái: </span> <span
                    id="TrangThai"> {{this.TrangThai}}</span></label>
              </div>

              <div class="col-md-12">
                <label style="font-size:  15px;"><span style="font-weight: bold;">Nội dung: </span>
                  {{this.NoiDung}}</label>
              </div>

            </div>

          </div>

          <div class="row element-button">
          </div>

          <div class="form-group col-md-12">
            <a style="margin-left: 35%;" class="btn bg-success" data-toggle="modal" data-target="#ModalUP3">Thanh
              toán</a>

            <a class="btn btn-cancel" data-toggle="modal" data-target="#ModalUP4">Từ chối</a>


          </div>



          {{!-- duyệt --}}
          <div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <span class="thong-tin-thanh-toan">
                        <h5>Tải ảnh giao dịch</h5>
                      </span>
                    </div>
                  </div>
                  <form action="/api/lsgd/duyet/{{this._id}}/1" id="product-form" method="post"
                    enctype="multipart/form-data">
                    <div class="row">
                      <div class="form-group col-md-6" style=" margin-left: 200px;
                    flex-direction: column;">
                        <label for="image" class="control-label">Ảnh </label>
                        <input type="file" id="image" name="HinhAnh" class="form-control" accept="image/*" required>
                      </div>
                    </div>
                    <BR>
                    <button style="width: 80px; height: 40px;margin-left: 35%;" class="btn btn-save"
                      type="submit">Lưu</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Đóng</a>
                  </form>



                  <BR>
                </div>

                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>

          {{!-- từ chối --}}
          <div class="modal fade" id="ModalUP4" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="row">
                    <div class="form-group  col-md-12">
                      <span class="thong-tin-thanh-toan">
                        <h5>Lý do từ chối</h5>
                      </span>
                    </div>
                  </div>
                  <form action="/api/lsgd/tuchoi/{{this._id}}/2" id="product-form1" method="post">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label class="control-label">Lý do từ chối</label>
                        <textarea class="form-control" name="NoiDung" id="NoiDung" placeholder="Nhập lý do "
                          required></textarea>

                      </div>
                    </div>
                    <BR>
                    <button style="width: 80px; height: 40px;margin-left: 35%;" class="btn btn-save"
                      type="submit">submit</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Đóng</a>
                  </form>



                  <BR>
                </div>

                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>

          {{/each}}




</main>






<script>
  load_data()
  async function load_data() {
    var HSD = document.querySelectorAll(".HSD");
    HSD.forEach((i) => {
      const date = new Date(i.innerHTML);
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      const formattedDate = day + '/' + month + '/' + year
      i.innerHTML = formattedDate
    })
    const trangthai = document.getElementById("TrangThai");
    const duyet = document.getElementById("button-duyet");
    const tuchoi = document.getElementById("button-tuchoi");

    if (trangthai.innerHTML == 0) {
      trangthai.innerHTML = "Chờ thanh toán"
    } else if (trangthai.innerHTML == 1) { // chờ cọc
      trangthai.innerHTML = "Đã thanh toán"
      duyet.style.display = "none"
      tuchoi.style.display = "none"
    } else if (trangthai.innerHTML == 2) { // đã cọc
      trangthai.innerHTML = "Từ chối"
      duyet.style.display = "none"
      tuchoi.style.display = "none"
    }

  }


</script>
<script>
  const SoTienGD = document.querySelectorAll(".SoTienGD");

  for (const soTienElement of SoTienGD) {
    const soTienString = soTienElement.textContent.trim();
    if (!isNaN(soTienString)) {
      const soTienNumber = parseFloat(soTienString);
      if (soTienNumber >= 0) {
        const formattedPrice = new Intl.NumberFormat('vi-VN').format(soTienNumber, {
          minimumFractionDigits: 2,
          decimal: ',',
          thousandsSeparator: '.',
        });
        soTienElement.textContent = formattedPrice + " đ";
      } else {
        console.error("Invalid transaction amount:", soTienString);
      }
    } else {
      console.error("Invalid transaction amount format:", soTienString);
    }
  }
</script>
<!-- Essential javascripts for application to work-->


<script src="../../public/js/jquery-3.2.1.min.js"></script>
<script src="../../public/js/popper.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="../..//publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="../../public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="../../public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
  // Hàm xử lý sự kiện nhấp vào nút duyệt
  function onSubmit(id, trangthai) {
    fetch(`/api/lsgd/duyet/${id}/${trangthai}`, { method: "POST" })
      .then((response) => {

        if (response.ok) {
          checkResult(true);
          location.reload(); // Reload lại trang

        } else {
          checkResult(false);
        }
      })
  }
  // Hàm để kiểm tra kết quả của việc duyệt
  function checkResult(result) {
    if (result === true) {
      // Hiển thị thông báo thành công
      alert("Thành công");

    } else {
      // Hiển thị thông báo thất bại
      alert("Thất bại");
    }


  }
</script>