<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Hóa đơn</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row element-button">
    </div>
    <div class="tile">
      
        {{#each data}}
                <h1 style="font-size: 15px;" >Thông tin khách hàng</h1>    
                <div class="row element-button">
      </div>
            <form class="row">   
      
                <div class="form-group col-md-3">
                    <label class="control-label">Mã hóa đơn: {{this.MaHD}}</label>   
                </div>
             
                <div class="form-group col-md-3">
                    <label class="control-label">Tên khách hàng: {{this.User.UserName}}</label>
                 
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Số điện thoại: {{this.User.SDT}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Email: {{this.User.Email}}</label>
                </div>
</form>
  <div class="row element-button">
      </div>
       <h1 style="font-size: 15px;" >Thông tin xe</h1>  
       <div class="row element-button">
      </div>  
       <form class="row">   
           
                <div class="form-group col-md-3">
                    <label class="control-label">Tên xe: {{this.Xe.MauXe}}</label>
                  
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Biển số xe: {{this.Xe.BKS}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Ngày thuê: {{this.NgayThue}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Ngày trả: {{this.NgayTra}}</label>
                </div>    
                            </form>
  <div class="row element-button">
      </div>     
       <h1  style="font-size: 15px;" >Thông tin dịch vụ</h1>    
       <div class="row element-button">
      </div>
             <form class="row"> 
                <div class="form-group col-md-3">
                    <label class="control-label">Giá thuê : {{this.MaHD}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Giá cọc: {{this.MaHD}}</label>        
                </div>
                <div class="form-group col-md-3 ">
                    <label for="exampleSelect1" class="control-label">Phí dịch vụ : {{this.PhiDV}}</label>
                </div>
                  <div class="form-group col-md-3 ">
                    <label for="exampleSelect1" class="control-label">Phụ phí : {{this.PhuPhi}} </label>
                </div>
                                    </form>
  <div class="row element-button">
      </div>  
       <h1  style="font-size: 15px; ">Thành tiền</h1>  
       <div class="row element-button">
      </div>  
                <div class="form-group col-md-3">
                    <label class="control-label">Tổng tiền : {{this.TongTien}}</label>
                </div>
                <div class="form-group col-md-12">

                </div>

                <a class="btn btn-cancel" href="ChiTietChuyen.html">Hủy bỏ</a>
                {{/each}}
</form>

    </div>
    </div>

</main>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",

                text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {

                        });
                    }
                });
        });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
        $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
</script>
</body>

