<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Khách hàng đang thuê</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
          




          </div>

             {{#each data}}
 
           <h1 style="font-size: 20px; ">Thông tin Khách hàng</h1>
        <div class="row">
           <div class="col-md-4">
                <div class="col-md-12">
                    <label style="font-size: 18px;"> <span style="font-weight: bold;">Họ và tên:</span> {{this.UserName}}</label>
                </div>

                <div class="col-md-12">
                    <label style="font-size: 18px;"> <span style="font-weight: bold;">Ngày sinh:</span>{{this.NgaySinh}}  </label>
                </div>

            </div>
            <div class="col-md-4">
               <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Số điện thoại:</span> {{this.SDT}} </label>
                </div>

                <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Giới tính:</span> {{this.GioiTinh}}</label>
                </div>
            </div>
              <div class="col-md-4">    
                <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Email:</span>{{this.Email}} </label>
                </div>
                <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Địa chỉ:</span> {{this.DiaChi_GPLX}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label style="font-size: 18px;" ><span style="font-weight: bold;"  >Ngày tham gia:</span> <span class="HSD"  >{{this.NgayThamGia}}</span></label>
                </div> 
            </div>
            <div class="col-md-4">
             <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Số dư ví:</span> {{this.SoDu}}</label>
                </div>
                  </div>
                   </div>


                      <div class="row">
             <div class="col-md-4">
                <div class="col-md-12">
                    <label style="font-size: 18px;" ><span style="font-weight: bold;">Avata </span></label> 
          <img src="/images/{{this.Avatar}}" alt="" height="50px" width="50px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP3">
                </div>
            </div>
          
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label style="font-size: 18px;"><span style="font-weight: bold;">Giấy tờ xe</span></label>
          <img src="/images/{{this.HinhAnh_GPLX}} " alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP1">
            <p style="margin-left: 20px;font-size: 12px;color: red;">Chưa xác minh</p>
                </div>
            </div>
                     <div class="col-md-4">      
                <div class="col-md-12">
                  <label style="font-size: 18px;"><span style="font-weight: bold;">CMND</span></label>
          <img src="https://lsvn.vn/storage/uploads/2020/07/21/GPLX-01-4314-1595306430.jpg" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP5">
              <p style="margin-left: 20px; font-size: 12px;color: red;">Chưa xác minh</p>
                </div>
            </div>
        </div>
           



   
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <th style="text-align: center;">STT</th>
                <th style="text-align: center;">Biển số xe</th>
                <th style="text-align: center;">Tên xe</th>
                <th style="text-align: center;">Ảnh xe</th>
                <th style="text-align: center;">Hãng</th>
                <th style="text-align: center;">Số ghế</th>
                <th style="text-align: center;">Năm sản xuất</th>
                <th  style="text-align: center;">Giá </th>
                <th style="text-align: center;">Tên chủ xe</th>
            


              </tr>
            </thead>
            <tbody>
          
              <tr>
                <td class="stt">{{@index}}</td>
                <td id="tenxe"></td>
                <td id="tenxe"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
                 <td ></td>
            

              </tr>
          

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

             {{!-- <div class="col-md-4">
                <div class="col-md-12">
                    <label style="font-size: 18px;"><span style="font-weight: bold;">Ảnh xe     </span></label> 
          <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="50px" width="50px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP">
                </div>
            </div>
          
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label style="font-size: 18px;"><span style="font-weight: bold;">Bảo hiểm</span></label>
          <img src="/images/{{this.BaoHiem}}" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP2">
                </div>
            </div>
             
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label style="font-size: 18px;"><span style="font-weight: bold;">Giấy tờ xe</span></label>
          <img src="/images/{{this.DangKyXe}}" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP1">
                </div>
            </div>
             
                   <div class="col-md-4">      
                <div class="col-md-12">
                  <label style="font-size: 18px;"><span style="font-weight: bold;">Đăng kiểm</span></label>
          <img src="/images/{{this.DangKiem}}" alt="" height="50px"
            width="50px" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP4">
                </div>
            </div>
        </div> --}}


 
 
</main>
<script>
 
  async function load() {
  // Get the current URL
  const url = window.location.href;

  // Get the ID from the URL
  const idStart = "http://localhost:9000/khachhang/ChiTietKhachHang/";
  const id = url.slice(idStart.length, url.length);

  // Fetch the car data from the API
  const response = await fetch(`/api/xe/find_id/${id}`).then(response => response.json());

  // Update the corresponding elements with the car data
  document.getElementById('tenxe').innerHTML = response.MauXe;
  document.getElementById('username').innerHTML = response.ChuSH.UserName;

  // Replace the '<td>' element with the formatted price
  const giaThueElement = document.getElementById('gia');
  const formattedPrice = new Intl.NumberFormat('vi-VN').format(giaThueElement.innerHTML, {
    minimumFractionDigits: 2,
    decimal: ',',
    thousandsSeparator: '.',
  });
  giaThueElement.parentElement.innerHTML = `<td class="gifd">${formattedPrice} đ</td>`;

  // Update the remaining '<td>' elements with the corresponding data
  document.getElementById('nsx').innerHTML = response.NSX;
  document.getElementById('sotudong').innerHTML = response.ChuyenDong;
  document.getElementById('soghe').innerHTML = response.SoGhe;
  document.getElementById('hang').innerHTML = response.HangXe;
  document.getElementById('bks').innerHTML = response.BKS;
  document.getElementById('loainhienlieu').innerHTML = response.LoaiNhienLieu;
}



</script>
 {{!-- đang kiểm --}}
      <div class="modal fade" id="ModalUP4" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh đăng kiểm</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.DangKiem}}" alt="" height="280px" width="400px" style="margin-left:230px;">


                  </div>
                  <BR>

                </div>
              </div>
             
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
<div class="modal fade" id="ModalUP5" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh CMND</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="https://hyundaiphanthiet.vn/wp-content/uploads/2021/09/Xehay-BH-220421-6_1.jpg" alt=""
                      height="240px" width="340px" style="margin-left:40px;">

                    <img
                      src="https://luatsux.vn/wp-content/uploads/2022/07/Bao-hiem-trach-nhiem-dan-su-o-to-co-bat-buoc-khong.png"
                      alt="" height="240px" width="340px" style="margin-left:150px;">
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
               <a class="btn btn-info" data-dismiss="modal" href="#" style="margin-left: 40%;">Xác minh</a>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" >Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
 {{!-- Modal --}}
      <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh xe</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">

                    <img src="/images/{{this.HinhAnh.[1]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                  <BR>
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.HinhAnh.[2]}}" alt="" height="240px" width="340px"
                      style="margin-left:30px;">
                    <img src="/images/{{this.HinhAnh.[3]}}" alt="" height="240px" width="340px"
                      style="margin-left:140px;">

                  </div>
                </div>
              </div>
              <BR>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


      {{!-- ảnh bằng lái --}}
      <div class="modal fade" id="ModalUP1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bằng lái</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.DangKyXe}}"
                      alt=""height="280px" width="400px" style="margin-left:230px;">

            
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
               <a class="btn btn-info" data-dismiss="modal" href="#" style="margin-left: 40%;">Xác minh</a>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" >Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      {{!-- ảnh bảo hiểm --}}
      <div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false" height="900px" width="950px">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Hình ảnh bảo hiểm</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                  <div class="images" style=" display: flex;">
                    <img src="/images/{{this.BaoHiem}}" alt=""
                     height="280px" width="400px" style="margin-left:230px;">

              
                  </div>
                  <BR>

                </div>
              </div>
              <BR>
              <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
              <BR>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


<div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Avata</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex; ">
              <img
                src="/images/{{this.Avatar}}"
                alt="" height="280px" width="400px" style="margin-left:230px;">



            </div>
          </div>
          <BR>
          <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
 
 {{/each}}

<script>
    const HSD = document.querySelectorAll(".HSD");
  HSD.forEach((i) => {
    const date = new Date(i.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year
    i.innerHTML = formattedDate
  })
</script>
      
  <!-- Essential javascripts for application to work-->

  <script>
    let buttonStatus = "Chưa duyệt";

    // Tạo một hàm để xử lý sự kiện click của nút
    function handleClick() {
      // Thay đổi trạng thái của nút
      buttonStatus = "Đã duyệt";

      // Thay đổi văn bản của nút
      this.textContent = buttonStatus;
    }

    // Thêm sự kiện click cho tất cả các nút
    for (let i = 0; i < document.querySelectorAll(".btn-success").length; i++) {
      document.querySelectorAll(".btn-success")[i].addEventListener("click", handleClick);
    }

  </script>
  <script src="public/js/jquery-3.2.1.min.js"></script>
  <script src="public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/jquery.table2excel.js"></script>
  <script src="/publicjs/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="/public/js/plugins/pace.min.js"></script>
  <!-- Page specific javascripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <script type="text/javascript" src="public/js/plugins/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
      jQuery(".trash").click(function () {
        swal({
          title: "Cảnh báo",

          text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
          buttons: ["Hủy bỏ", "Đồng ý"],
        })
          .then((willDelete) => {
            if (willDelete) {
              swal("Đã xóa thành công.!", {

              });
            }
          });
      });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
      $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
      e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
      var today = new Date();
      var weekday = new Array(7);
      weekday[0] = "Chủ Nhật";
      weekday[1] = "Thứ Hai";
      weekday[2] = "Thứ Ba";
      weekday[3] = "Thứ Tư";
      weekday[4] = "Thứ Năm";
      weekday[5] = "Thứ Sáu";
      weekday[6] = "Thứ Bảy";
      var day = weekday[today.getDay()];
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      nowTime = h + " giờ " + m + " phút " + s + " giây";
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
        '</span>';
      document.getElementById("clock").innerHTML = tmp;
      clocktime = setTimeout("time()", "1000", "Javascript");

      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    }
    //In dữ liệu
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('sampleTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
  </script>
  </body>

  </html>