<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Thông tin khách hàng</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">


          {{#each data}}


          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label">Họ và tên</label>
              <div class="form-control">
                <p><b>{{this.UserName}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Ngày sinh</label>
              <div class="form-control">
                <p><b>{{this.NgaySinh}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Số điện thoại</label>
              <div class="form-control">
                <p><b>{{this.SDT}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Giới tính</label>
              <div class="form-control">
                <p><b>{{this.GioiTinh}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Email</label>
              <div class="form-control">
                <p><b>{{this.Email}}</b></p>
              </div>
            </div>


            <div class="form-group col-md-3">
              <label class="control-label">Ngày tham gia </label>
              <div class="form-control">
                <p><b class="HSD">{{this.NgayThamGia}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Số dư ví </label>
              <div class="form-control">
                <p><b>{{this.SoDu}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Họ tên GPLX </label>
              <div class="form-control">
                <p><b>{{this.HoTen_GPLX}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Số GPLX </label>
              <div class="form-control">
                <p><b>{{this.So_GPLX}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Ngày cấp GPLX </label>
              <div class="form-control">
                <p><b>{{this.NgayCap_GPLX}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Số CMND </label>
              <div class="form-control">
                <p><b>{{this.So_CCCD}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label"> Ngày cấp CMND</label>
              <div class="form-control">
                <p><b>{{this.NgayCap_CCCD}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label"> Nơi cấp CMND</label>
              <div class="form-control">
                <p><b>{{this.NoiCap_CCCD}}</b></p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Địa chỉ </label>
              <textarea class="form-control">{{this.DiaChi_GPLX}}</textarea>

            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12">
                <label style="font-size: 18px;"><span style="font-weight: bold;">Avatar </span></label> <BR>
                <img src="{{this.Avatar}}" alt="" height="100px" width="150px" type="button" id="show-emp"
                  data-toggle="modal" data-target="#ModalUP3">
              </div>
            </div>

            <div class="col-md-4" style=" margin-left: -110px;">
              <div class="col-md-12">
                <label style="font-size: 18px;"><span style="font-weight: bold;">Giấy phép lái xe</span></label> <BR>
                <img src="/images/{{this.HinhAnh_GPLX.[0]}}" alt="" height="100px" width="150px" type="button"
                  id="show-emp" data-toggle="modal" data-target="#ModalUP1">
                <p style="margin-left: 32px;font-size: 12px;" id="trangthaititlle">{{this.TrangThai_GPLX}}</p>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">

            <a class="btn btn-success" href="/khachhang/ChiTietXeKH?id={{this._id}}" id="button-xem-tt">Xem thông tin xe</a>
          </div>

          {{!-- ảnh bằng lái --}}
          <div class="modal fade" id="ModalUP1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="row">
                    <div class="form-group  col-md-12">
                      <span class="thong-tin-thanh-toan">
                        <h5>Giấy phép lái xe</h5>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6" style=" display: flex;
                    flex-direction: column;">
                      <div class="images" style=" display: flex;">
                        <img src="/images/{{this.HinhAnh_GPLX.[0]}}" alt="" height="280px" width="400px"
                          style="margin-left:20px;">
                        <img src="/images/{{this.HinhAnh_GPLX.[1]}}" alt="" height="280px" width="400px"
                          style="margin-left:20px;">


                      </div>
                      <BR>

                    </div>
                  </div>
                  <BR>
                  <a style="margin-left: 40%;" class="btn btn-success" id="button-duyet" data-status="Chưa duyệt"
                    onclick="onSubmit(`{{this._id}}`,2)">Xác minh</a>
                  <a class="btn btn-cancel" id="button-tuchoi" onclick="onSubmit(`{{this._id}}`,3)">Từ chối</a>
                  <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:400px;">Đóng</a>
                  
                  <BR>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="ModalUP3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="row">
                    <div class="form-group  col-md-12">
                      <span class="thong-tin-thanh-toan">
                        <h5>Avatar</h5>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
                      <div class="images" style=" display: flex; ">
                        <img src="{{this.Avatar}}" alt="" height="280px" width="400px" style="margin-left:290px;">
                      </div>
                    </div>
                    <BR>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
                    <BR>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<script>
  const HSD = document.querySelectorAll(".HSD");
  HSD.forEach((i) => {
    const date = new Date(i.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year
    i.innerHTML = formattedDate
  })

  const trangthai = document.getElementById("trangthaititlle");
  const duyet = document.getElementById("button-duyet");
  const tuchoi = document.getElementById("button-tuchoi");

  if (trangthai.innerHTML == 0 || trangthai.innerHTML == "") {
    trangthai.innerHTML = "Chưa xác minh"
    trangthai.style.color = "red"
    duyet.style.display = "none"
    tuchoi.style.display = "none"
  } else if (trangthai.innerHTML == 1) { // chờ cọc
    trangthai.innerHTML = "Chờ xác minh"
    trangthai.style.color = "red"
    duyet.style.display = "block"
    tuchoi.style.display = "block"

  } else if (trangthai.innerHTML == 2) { // đã cọc
    trangthai.innerHTML = "Đã xác minh"
    duyet.style.display = "none"
    tuchoi.style.display = "none"
  } else if (trangthai.innerHTML == 3) { // đang hoạt động
    trangthai.innerHTML = "Từ chối"
    duyet.style.display = "none"
    tuchoi.style.display = "none"
  }




</script>

<!-- Essential javascripts for application to work-->


<script src="public/js/jquery-3.2.1.min.js"></script>
<script src="public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
  // Hàm xử lý sự kiện nhấp vào nút duyệt
  function onSubmit(id, trangthai) {
    fetch(`/api/user/duyet/${id}/${trangthai}`, { method: "POST" })
      .then((response) => {

        if (response.ok) {
          checkResult(true);
          location.reload(); // Reload lại trang

        } else {
          checkResult(false);
        }
      })
  }
  // Hàm để kiểm tra kết quả của việc duyệt
  function checkResult(result) {
    if (result === true) {
      // Hiển thị thông báo thành công
      alert("Duyệt thành công");

    } else {
      // Hiển thị thông báo thất bại
      alert("Duyệt thất bại");
    }


  }


  //Modal
  $("#show-emp").on("click", function () {
    $("#ModalUP").modal({ backdrop: false, keyboard: false })
  });
</script>
</body>