<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Chi tiết xe</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row element-button">
  </div>
  <div class="tile">
    <form class="row">

      {{#each data}}
      <div class="form-group col-md-3">
        <label class="control-label">Biển số xe</label>
        <div class="form-control">
          <p><b>{{this.BKS}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Hãng xe</label>
        <div class="form-control">
          <p><b>{{this.HangXe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tên xe</label>
        <div class="form-control">
          <p><b>{{this.MauXe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Năm sản xuất</label>
        <div class="form-control">
          <p><b>{{this.NSX}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Loại nhiêu liệu</label>
        <div class="form-control">
          <p><b>{{this.LoaiNhienLieu}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Truyền động</label>
        <div class="form-control">
          <p><b>{{this.ChuyenDong}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Số ghế</label>
        <div class="form-control">
          <p><b>{{this.SoGhe}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Giá thuê</label>
        <div class="form-control">
          <p><b id="giathue">{{this.GiaThue1Ngay}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tiêu hao</label>
        <div class="form-control">
          <p><b id="tieuhao">{{this.TieuHao}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Số chuyến</label>
        <div class="form-control">
          <p><b>{{this.SoChuyen}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Trạng Thái</label>
        <div class="form-control">
          <p><b>{{this.TrangThai}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Tên chủ xe</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.UserName}}</b></p>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label">Số điện thoại</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.SDT}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Email</label>
        <div class="form-control">
          <p><b>{{this.ChuSH.Email}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Ngày Đăng</label>
        <div class="form-control">
          <p><b id="ngaydang">{{this.createdAt}}</b></p>
        </div>
      </div>
      <div class="form-group col-md-3">

      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Địa chỉ Xe</label>
        <textarea class="form-control">{{this.DiaChiXe}}</textarea>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label">Mô tả</label>
        <textarea class="form-control" style=" width: 550px;">{{this.MoTa}}</textarea>
      </div>
      <div class="form-group col-md-3">

      </div>

      <div class="row" style="">
        <div class="form-group col-md-3" style="margin-left:20px;">
          <label class="control-label">Ảnh xe</label> <BR>
          <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="100px" width="150px" type="button" id="show-emp"
            data-toggle="modal" data-target="#ModalUP">
        </div>

        <div class="form-group col-md-3" style="margin-left:50px;">
          <label class="control-label">Giấy tờ xe</label>
          <BR>
          <img src="https://lsvn.vn/storage/uploads/2020/07/21/GPLX-01-4314-1595306430.jpg" alt="" height="100px"
            width="150px">
        </div>
        <div class="form-group col-md-3" style="margin-left:50px;">
          <label class="control-label">Bảo hiểm</label>
          <BR>
          <img src="https://hondaotomydinh.net/wp-content/uploads/2020/08/BHTNDS.jpg" alt="" height="100px"
            width="150px">
        </div>
      </div>

      <div class="form-group col-md-12">


      </div>
      <div class="form-group col-md-12">
        <a class="btn btn-success" href="#" id="button-duyet4" data-status="Chưa duyệt">Duyệt</a>
        <a class="btn btn-cancel" href="Quanlyxe.html">Hủy bỏ</a>
      </div>
      {{/each}}

    </form>
  </div>
</main>

<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Hình ảnh xe</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex;">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px">

              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px" style="margin-left:100px;">
            </div>
            <BR>
            <div class="images" style=" display: flex;">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px" style="margin-left:100px;">
            </div>
          </div>
        </div>
        <BR>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:180px;">Đóng</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Essential javascripts for application to work-->

<script>
  let buttonStatus = "Chưa duyệt";

  // Tạo một hàm để xử lý sự kiện click của nút
  function handleClick() {
    // Thay đổi trạng thái của nút
    buttonStatus = "Đã duyệt";

    // Thay đổi văn bản của nút
    this.textContent = buttonStatus;
  }

  // Thêm sự kiện click cho tất cả các nút
  for (let i = 0; i < document.querySelectorAll(".btn-success").length; i++) {
    document.querySelectorAll(".btn-success")[i].addEventListener("click", handleClick);
  }

</script>

<script>
  function validatePrice() {
    var GiaThue = document.querySelector('#giathue');
    var TieuHao = document.querySelector('#tieuhao');
    var NgayDang = document.querySelector('#ngaydang');

    const formattedPrice = new Intl.NumberFormat('vi-VN').format(GiaThue.innerHTML, {
      minimumFractionDigits: 2,
      decimal: ',',
      thousandsSeparator: '.',
    });
    const date = new Date(NgayDang.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day +'/'+month+'/'+year

    NgayDang.innerHTML  = formattedDate;
    GiaThue.innerHTML = formattedPrice + " đ"
    TieuHao.innerHTML = TieuHao.innerHTML + " Lít/100Km"
  }
  validatePrice()


  //EXCEL
  // $(document).ready(function () {
  //   $('#').DataTable({

  //     dom: 'Bfrtip',
  //     "buttons": [
  //       'excel'
  //     ]
  //   });
  // });


  //In dữ liệu
  var myApp = new function () {
    this.printTable = function () {
      var tab = document.getElementById('sampleTable');
      var win = window.open('', '', 'height=700,width=700');
      win.document.write(tab.outerHTML);
      win.document.close();
      win.print();
    }
  }
  //     //Sao chép dữ liệu
  //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

  // copyTextareaBtn.addEventListener('click', function(event) {
  //   var copyTextarea = document.querySelector('.js-copytextarea');
  //   copyTextarea.focus();
  //   copyTextarea.select();

  //   try {
  //     var successful = document.execCommand('copy');
  //     var msg = successful ? 'successful' : 'unsuccessful';
  //     console.log('Copying text command was ' + msg);
  //   } catch (err) {
  //     console.log('Oops, unable to copy');
  //   }
  // });


  //Modal
  $("#show-emp").on("click", function () {
    $("#ModalUP").modal({ backdrop: false, keyboard: false })
  });
</script>
</body>

</html>