<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Hóa đơn</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row element-button">
    </div>
    <div class="tile">
        {{#each data}}
        <div class="row">
            <h2 class="col-md-8">Thông tin hóa đơn</h2>
            <p class="col-md-2"style="background: red; width: 200px; height: 40px; text-align: center; 
                padding-top: 10px; border-radius: 10px; color: white;margin-left: 120px;">
                Chưa thanh toán</p>
        </div>

        <div class="row element-button">
        </div>
        <br>
        <h1 style="font-size: 15px; ">Thông tin khách hàng</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Mã hóa đơn: <span style="font-weight: bold;">{{this.MaHD}}</span> </label> 
                </div>
                <div class="col-md-12">
                    <label id="ngaytao">{{this.GioTaoHD}}</label>
                </div>


            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tên khách hàng:  <span style="font-weight: bold;">{{this.User.UserName}}</span> </label>
                </div>
                <div class="col-md-12">
                    <label>Số điện thoại: {{this.User.SDT}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Email: {{this.User.Email}}</label>
                </div>
                <div class="col-md-12">
                    <label>Địa chỉ: chưa config</label>
                </div>
            </div>
        </div>


        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px; ">Thông tin xe</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tên xe: {{this.Xe.MauXe}}</label>
                </div>

                <div class="col-md-12">
                    <label>Biển số xe: {{this.Xe.BKS}}</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Chỗ ngồi: {{this.Xe.SoGhe}} chỗ ngồi</label>
                </div>

                <div class="col-md-12">
                    <label>Loại nhiên liệu: {{this.Xe.LoaiNhienLieu}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Năm sản xuất: {{this.Xe.NSX}}</label>
                </div>

                <div class="col-md-12">
                    <label>Chủ xe: {{this.User.UserName}}</label>
                </div>
            </div>
        </div>


        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px;">Thông tin dịch vụ</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Ngày thuê: {{this.NgayThue}}</label>
                </div>

                <div class="col-md-12">
                    <label>Ngày trả: {{this.NgayTra}}</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Tổng số ngày: {{this.TongSoNgayThue}} Ngày</label>
                </div>

                <div class="col-md-12">
                    <label>Mã giảm giá: {{this.MaGiamGia}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>Lời nhắn : {{this.LoiNhan}}</label>
                </div>

                <div class="col-md-12">
                    <label>Lý do: {{this.LyDo}}</label>
                </div>
            </div>

        </div>

        <div class="row element-button">
        </div>
        <h1 style="font-size: 15px; ">Thành tiền</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <label>Đơn giá thuê/ngày:</label>
                </div>

                <div class="col-md-12">
                    <label>Phí dịch vụ FastCar: {{this.TongSoNgayThue}} ngày</label>
                </div>
                <div class="col-md-12">
                    <label>Tổng phí: {{this.TongSoNgayThue}} ngày</label>
                </div>
                <div class="col-md-12">
                    <label>Mã khuyến mại: {{this.MaGiamGia}}</label>
                </div>
                <div class="col-md-12">
                    <label>Tổng Cộng:</label>
                </div>
                <div class="col-md-12">
                    <label>Đặt cọc (30%):</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label">Thanh toán khi nhận xe:</label>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label class="money"> {{this.Xe.GiaThue1Ngay}}</label>
                </div>

                <div class="col-md-12">
                    <label class="money"> {{this.PhiDV}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TongTien}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.GiamGia}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TongTien}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money"> {{this.TienCoc}}</label>
                </div>
                <div class="col-md-12">
                    <label class="money" style="font-weight: bold;"> {{this.ThanhToan}}</label>
                </div>

            </div>
            
        </div>
        {{/each}}
        </form>
        <BR>

             <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
        <a class="btn btn-cancel" data-dismiss="modal" href="/chuyenxe" >Quay lại</a>     
    </div>

</main>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    const money = document.querySelectorAll('.money');
    const NgayTao = document.getElementById('ngaytao');
    money.forEach((i) => {
        const formattedPrice = new Intl.NumberFormat('vi-VN').format(i.innerHTML, {
            minimumFractionDigits: 2,
            decimal: ',',
            thousandsSeparator: '.',
        });
        i.innerHTML = formattedPrice + " đ"
    })
    const date = new Date(NgayTao.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const hour = date.getHours();
    const minute = date.getMinutes();
    const second = date.getSeconds();
    const formattedDatetime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
    NgayTao.innerHTML = "Ngày Tạo: " + formattedDatetime


    //Modal
    $("#show-emp").on("click", function () {
        $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
</script>
</body>