<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Chuyến xe</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">


                        <div class="end" style="margin-left: 600px;">
                            <div class="row">
                                <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;">
                                    <label class="control-label1">Từ ngày</label>
                                    <input class="form-control1" type="date" required>
                                </div>
                                <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                                    <label class="control-label1">Đến ngày</label>
                                    <input class="form-control1" type="date" required>
                                </div>
                                <div class="col-sm-22" style="margin-left: 20px;  ">
                                    <a class="btn btn-tim-kiem" href="" title="button" style="color: #fff; background-color: #38a927; width: 80px; height: 30px; display: flex; justify-content: center;
                    align-items: center;">Tìm kiếm</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                                <div class="info">
                                    <h4>Tổng Chuyến</h4>
                                    <p><b>100 Chuyến</b></p>
                                </div>
                            </div>
                        </div>
                          <a href="abc" class="col-md-6 col-lg-3"> 
                                 <div class="widget-small info coloured-icon"><i class='icon bx bxs-truck fa-3x'></i>
                                <div class="info">
                                    <h4>Chuyến đang hoạt động</h4>
                                    <p><b>168 chuyến</b></p>
                                </div>
                            </div>
                         </a>
                             <a href="abc" class="col-md-6 col-lg-3">           
                            <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bx-check-shield'></i>
                                <div class="info">
                                    <h4> Chuyến Đã cọc</h4>
                                    <p><b>20 chuyến</b></p>
                                </div>
                            </div>
                        </a>
                       <a href="abc" class="col-md-6 col-lg-3">      
                             <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-select-multiple'></i>
                                <div class="info">
                                    <h4>Chuyến Thành công</h4>
                                    <p><b>68 chuyến</b></p>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                    <div class="row">
                           <a href="abc" class="col-md-6 col-lg-3">                
                             <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bx-message-dots'></i>
                                <div class="info">
                                    <h4>Chuyến Chờ cọc</h4>
                                    <p><b>10 chuyến</b></p>
                                </div>
                            </div>
                           </a>
                        <a href="abc" class="col-md-6 col-lg-3">   
                            <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                                <div class="info">
                                    <h4>Chuyến đã hủy</h4>
                                    <p><b>4 Chuyến</b></p>
                                </div>
                            </div>
                           </a>
                    
                    
                    </div>

                    <div class="row element-button">
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th style="text-align: center;">STT</th>
                                <th style="text-align: center;">Mã hóa đơn</th>
                                <th style="text-align: center;">Tên khách hàng</th>
                                <th style="text-align: center;">Tên xe</th>
                                <th style="text-align: center;">Biển số xe</th>
                                <th style="text-align: center;">Ngày thuê</th>
                                <th style="text-align: center;">Thành tiền</th>
                                <th style="text-align: center;">Tình trạng</th>
                                <th style="text-align: center;">Chức năng</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{@index}}</td>

                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{this.MaHD}}</td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{this.User.UserName}}</td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{this.Xe.MauXe}}</td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{this.Xe.BKS}}</td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    {{this.NgayThue}}</td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    <span class="thanhtien">{{this.TongTien}}</span>
                                </td>

                                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                    <span class="TrangThai"
                                        style="border-radius: 5px; font-size: 13px; padding: 3px;">{{this.TrangThaiHD}}</span>
                                </td>
                                <td style="text-align: center; word-break: break-word;vertical-align: middle;"> <a
                                        class="btn btn-info " href="/chuyenxe/ChiTietChuyen/{{this._id}}"> Hóa đơn</a>
                                </td>
                            </tr>
                            {{/each}}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>

</script>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/public/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    function load_data() {
        var thanhtien = document.querySelectorAll('.thanhtien');
        var TrangThai = document.querySelectorAll('.TrangThai');
        TrangThai.forEach((i) => {

            // bị hủy
            if (i.innerHTML == 0) {
                i.innerHTML = "Đơn hủy"
                i.style.background = "#F9C9CD"
            } else if (i.innerHTML == 1 || i.innerHTML == 2) { // chờ cọc
                i.innerHTML = "Chờ cọc"
                i.style.background = "#BFEFC4"
            } else if (i.innerHTML == 3) { // đã cọc
                i.innerHTML = "Đã cọc"
                i.style.background = "#BFEFC4"
            } else if (i.innerHTML == 4 || i.innerHTML == 5 || i.innerHTML == 6) { // chờ cọc
                i.innerHTML = "Hoạt động"
                i.style.background = "#BFEFC4"
            } else if (i.innerHTML == 7) { // chờ cọc
                i.innerHTML = "Thành công"
                i.style.background = "#BFEFC4"
            }
        })



        thanhtien.forEach((i) => {
            if (!isFinite(i.innerHTML)) {
                return i.innerHTML;
            }
            const formattedPrice = new Intl.NumberFormat('vi-VN').format(i.innerHTML, {
                minimumFractionDigits: 2,
                decimal: ',',
                thousandsSeparator: '.',
            });
            i.innerHTML = formattedPrice + " đ"
        })
    }

    load_data();
    setInterval(load_data, 1000);

</script>