<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Chuyến xe</li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-md-6"></div>

                        <form action="/chuyenxe" method="get" class="row">
                            <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;">
                                <label class="control-label1">Từ ngày</label>
                                <input class="form-control1" type="date" name="start_date" required>
                            </div>
                            <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                                <label class="control-label1">Đến ngày</label>
                                <input class="form-control1" type="date" name="end_date" required>
                            </div>
                            <div class="col-sm-22" style="margin-left: 20px;  ">
                                <button class="btn btn-tim-kiem" type="submit" style="color: #fff; background-color: #38a927; width: 80px; height: 30px;
                                     display: flex; justify-content: center; align-items: center;">Tìm kiếm</button>
                            </div>
                        </form>


                    </div>
                    <div class="row">
                        <a class="col-md-6 col-lg-3" href="" id="all">
                            <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                                <div class="info">
                                    <h4>Tổng Chuyến</h4>
                                    <p><b id="tong"> </b></p>
                                </div>
                            </div>
                        </a>
                        <a href="" id="hd" class="col-md-6 col-lg-3">
                            <div class="widget-small info coloured-icon"><i class='icon bx bxs-truck fa-3x'></i>
                                <div class="info">
                                    <h4>Chuyến đang hoạt động</h4>
                                    <p><b id="hoatdong"> </b></p>
                                </div>
                            </div>
                        </a>
                        <a href="" id="dc" class="col-md-6 col-lg-3">
                            <div class="widget-small primary coloured-icon"><i
                                    class='icon fa-3x bx bx-check-shield'></i>
                                <div class="info">
                                    <h4> Chuyến Đã cọc</h4>
                                    <p><b id="dacoc"> </b></p>
                                </div>
                            </div>
                        </a>
                        <a href="" id="tc" class="col-md-6 col-lg-3">
                            <div class="widget-small primary coloured-icon"><i
                                    class='icon fa-3x bx bxs-check-square'></i>
                                <div class="info">
                                    <h4>Chuyến Thành công</h4>
                                    <p><b id="thanhcong"> </b></p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="row">
                        <a href="" id="cc" class="col-md-6 col-lg-3">
                            <div class="widget-small warning coloured-icon"><i
                                    class='icon fa-3x bx bx-message-dots'></i>
                                <div class="info">
                                    <h4>Chuyến Chờ cọc</h4>
                                    <p><b id="chococ"> </b></p>
                                </div>
                            </div>
                        </a>
                        <a href="" id="dahuy" class="col-md-6 col-lg-3">
                            <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                                <div class="info">
                                    <h4>Chuyến đã hủy</h4>
                                    <p><b id="huy"></b></p>
                                </div>
                            </div>
                        </a>


                    </div>
                </div>

                <div class="row element-button">
                </div>

                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">STT</th>
                            <th style="text-align: center;">Mã hóa đơn</th>
                            <th style="text-align: center;">Tên khách hàng</th>
                            <th style="text-align: center;">Tên xe</th>
                            <th style="text-align: center;">Biển số xe</th>
                            <th style="text-align: center;">Ngày thuê</th>
                            <th style="text-align: center;">Thành tiền</th>
                            <th style="text-align: center;">Tình trạng</th>
                            <th style="text-align: center;">Chức năng</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="stt">
                                {{@index}}</td>

                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                {{this.MaHD}}</td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                {{this.User.UserName}}</td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                {{this.Xe.MauXe}}</td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                {{this.Xe.BKS}}</td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="NgayDang">
                                {{this.NgayThue}}</td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                <span class="thanhtien">{{this.TongTien}}</span>
                            </td>

                            <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                                <span class="TrangThai"
                                    style="border-radius: 5px; font-size: 13px; padding: 3px;">{{this.TrangThaiHD}}</span>
                            </td>
                            <td style="text-align: center; word-break: break-word;vertical-align: middle;"> <a
                                    class="btn btn-info " href="/chuyenxe/ChiTietChuyen/{{this._id}}"> Hóa đơn</a>
                            </td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    load()
    async function load() {
     var HSD = document.querySelectorAll(".NgayDang");
    HSD.forEach((i) => {
      const date = new Date(i.innerHTML);
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      const formattedDate = day + '/' + month + '/' + year
      i.innerHTML = formattedDate
    })
    }
</script>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>

    load()
    async function load() {
        // số tứ tự
        var stt = 0
        const stt1 = document.querySelectorAll(".stt");
        for (let i = 0; i < stt1.length; i++) {
            stt1[i].innerText = i + 1;
        }

        var response = null;
        var tt0 = 0;
        var tt1 = 0;
        var tt2 = 0;
        var tt3 = 0;
        var tt4 = 0;




        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const startDate = urlParams.get('start_date');
        const endDate = urlParams.get('end_date');
        if (urlParams.has('start_date') && urlParams.has('end_date')) {

            document.getElementById('hd').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"4,5,6"}`;
            document.getElementById('dc').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"3"}`;
            document.getElementById('tc').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"7"}`;
            document.getElementById('cc').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"1,2"}`;
            document.getElementById('dahuy').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"0"}`;
            document.getElementById('all').href = `chuyenxe?start_date=${startDate}&end_date=${endDate}&TrangThaiHD=${"0,1,2,3,4,5,6,7"}`;
            response = await fetch(`/api/hoadon/list?start_date=${startDate}&end_date=${endDate}`).then(response => response.json());
        } else {
            document.getElementById('hd').href = `chuyenxe?TrangThaiHD=${"4,5,6"}`;
            document.getElementById('dc').href = `chuyenxe?TrangThaiHD=${"3"}`;
            document.getElementById('tc').href = `chuyenxe?TrangThaiHD=${"7"}`;
            document.getElementById('cc').href = `chuyenxe?TrangThaiHD=${"1,2"}`;
            document.getElementById('dahuy').href = `chuyenxe?TrangThaiHD=${"0"}`;
            document.getElementById('all').href = `chuyenxe?TrangThaiHD=${"0,1,2,3,4,5,6,7"}`;
            response = await fetch('/api/hoadon/list').then(response => response.json());

        }

        response.forEach(hd => {
            // hd chờ duyệt
            if (hd.TrangThaiHD == 0) {
                tt0++;

            }
            if (hd.TrangThaiHD == 1 || hd.TrangThaiHD == 2) {
                tt1++;
            }
            if (hd.TrangThaiHD == 3) {
                tt2++;
            }
            if (hd.TrangThaiHD == 4 || hd.TrangThaiHD == 5 || hd.TrangThaiHD == 6) {
                tt3++;
            }
            if (hd.TrangThaiHD == 7) {
                tt4++;

            }
        });

        document.getElementById('huy').innerText = tt0 + " Chuyến";
        document.getElementById('chococ').innerText = tt1 + " Chuyến";
        document.getElementById('dacoc').innerText = tt2 + " Chuyến";
        document.getElementById('hoatdong').innerText = tt3 + " Chuyến";
        document.getElementById('thanhcong').innerText = tt4 + " Chuyến";
        document.getElementById('tong').innerText = response.length + " Chuyến";

    }
    load_data()

    async function load_data() {
        var thanhtien = document.querySelectorAll('.thanhtien');
        var TrangThai = document.querySelectorAll('.TrangThai');
        TrangThai.forEach((i) => {

            // bị hủy
            if (i.innerHTML == 0) {
                i.innerHTML = "Đơn hủy"
                i.style.background = "#F9BABA"
            } else if (i.innerHTML == 1 || i.innerHTML == 2) { // chờ cọc
                i.innerHTML = "Chờ cọc"
                i.style.background = "#FDE1C3"
            } else if (i.innerHTML == 3) { // đã cọc
                i.innerHTML = "Đã cọc"
                i.style.background = "#B9FFD3"
            } else if (i.innerHTML == 4 || i.innerHTML == 5 || i.innerHTML == 6) { // đang hoạt động
                i.innerHTML = "Hoạt động"
                i.style.background = "#ADCBF3"
            } else if (i.innerHTML == 7) { //  thành công
                i.innerHTML = "Thành công"
                i.style.background = "#B9FFD3"
            }
        })

        thanhtien.forEach((i) => {
            if (!isFinite(i.innerHTML)) {
                return i.innerHTML;
            }
            const formattedPrice = new Intl.NumberFormat('vi-VN').format(i.innerHTML, {
                minimumFractionDigits: 2,
                decimal: ',',
                thousandsSeparator: '.',
            });
            i.innerHTML = formattedPrice + " đ"
        })
    }

    setInterval(load_data, 1000);

</script>