<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Tạo Mã Khuyến mãi</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">
              <button type="button" id="add-new-btn" class="btn btn-add btn-sm"> <i class="fas fa-plus"></i> Thêm
                mới</button>
            </div>

          <div class="col-md-5"></div>


            <form action="/khuyenmai" method="get" class="row">
              <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;">
                <label class="control-label1">Từ ngày</label>
                <input class="form-control1" type="date" name="start_date" required>
              </div>
              <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                <label class="control-label1">Đến ngày</label>
                <input class="form-control1" type="date" name="end_date" required>
              </div>
              <div class="col-sm-22" style="margin-left: 20px;  ">
                <button class="btn btn-tim-kiem" type="submit" style="color: #fff; background-color: #38a927; width: 80px; height: 30px;
                                     display: flex; justify-content: center; align-items: center;">Tìm kiếm</button>
              </div>
            </form>

          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                  <h4>Tổng Voucher</h4>
                  <p><b>100 Voucher</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small info  coloured-icon"><i class='icon fa-3x bx bxs-hourglass-top'></i>
                <div class="info">
                  <h4>Voucher còn hạn</h4>
                  <p><b>68 Voucher</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                <div class="info">
                  <h4>Voucher hết hạn</h4>
                  <p><b>4 Voucher</b></p>
                </div>
              </div>
            </div>

          </div>
          <form action="/api/voucher/create" id="product-form" method="post" enctype="multipart/form-data"
            style="display: none;">
            <div class="row">
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="name" class="form-label">Mã khuyến mãi:</label>
                <input type="text" id="name" name="MaGiamGia" class="form-control" required
                  placeholder="Nhập mã khuyễn mãi" min="1" max="10">
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="quantity" class="form-label">Tiêu đề:</label>
                <input type="text" id="quantity" name="TieuDe" class="form-control" required placeholder="Nhập tiêu đề">
              </div>

              <div class="col-md-4" style="margin-top: 10px;">
                <label for="exampleSelect1" class="form-label">Giá trị giảm (%): </label>
                <select class="form-control" id="exampleSelect1" name="GiaTri">
                  <option disabled>-- Chọn giá trị --</option>
                  <option value="5" selected>5%</option>
                  <option value="10">10%</option>
                  <option value="15">15%</option>
                  <option value="20">20%</option>
                  <option value="25">25%</option>
                  <option value="30">30%</option>
                </select>
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="exampleSelect1" class="form-label">Giá trị giảm: </label>
                <select class="form-control" id="exampleSelect1" name="GiaTriMax">
                  <option disabled>-- Chọn giá trị tối đa --</option>
                  <option value="50000" selected>50.000vnđ</option>
                  <option value="100000">100.000vnđ</option>
                  <option value="150000">150.000vnđ</option>
                  <option value="250000">250.000vnđ</option>
                  <option value="300000">300.000vnđ</option>
                  <option value="350000">350.000vnđ</option>
                </select>
              </div>

              <div class="col-md-4" style="margin-top: 10px;">
                <label for="price" class="form-label">Ngày bắt đầu:</label>
                <input type="date" id="price" name="NgayBD" class="form-control" required>
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="price" class="form-label">Ngày kết thúc:</label>
                <input type="date" id="price" name="HSD" class="form-control" required>
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="image" class="form-label">Hình ảnh:</label>
                <input type="file" id="image" name="HinhAnh" class="form-control" accept="image/*" required>
              </div>
              <div class="col-md-4" style="margin-top: 10px;">
                <label for="price" class="form-label">Nội dung:</label>
                <textarea name="NoiDung" id="price" cols="30" class="form-control" rows="10" required
                  placeholder="Nhập nội dung"></textarea>
              </div>

            </div>

            <button type="submit" class="btn btn-save" style="margin-top: 20px; margin-bottom: 10px;">Thêm mã giảm
              giá</button>

          </form>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>

                <th style="text-align: center;">STT</th>
                <th style="text-align: center;">Mã</th>
                <th style="text-align: center;">Ảnh</th>
                <th style="text-align: center;">Tiêu đề</th>
                <th style="text-align: center;">Giá trị giảm</th>
                <th style="text-align: center;" width="100">Ngày kết thúc</th>
                <th style="text-align: center;" width="100">Trạng thái</th>
                <th style="text-align: center;" width="100">Chức năng</th>


              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="stt">{{@index}}
                </td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.MaGiamGia}}</td>
                <td><img src="/images/{{this.HinhAnh}}" alt="" class="img-card-person1"></td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TieuDe}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.GiaTri}}%</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="HSD">{{this.HSD}}
                </td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;"><span class="TrangThai"
                    style="border-radius: 5px; background: #BFEFC4; padding: 5px;">{{this.TrangThai}}</span></td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">
                  <button class="btn btn-info" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP"
                    onclick="chitiet(`{{this._id}}`)">Xem chi tiết</button>
                </td>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Thông tin Khuyến mãi</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Mã khuyến mãi</label>
            <div class="form-control">
              <p><b id="MaGiamGia"> </b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá trị giảm(%)</label>
            <div class="form-control">
              <p><b id="GiaTri"> </b>%</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá trị giảm</label>
            <div class="form-control">
              <p><b id="GiaTriMax"> </b></p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="control-label">Ngày bắt đầu</label>
            <div class="form-control">
              <p><b id="NgayBD"> </b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Ngày kết thúc</label>
            <div class="form-control">
              <p><b id="HSD1"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Trạng thái</label>
            <div class="form-control">
              <p><b id="TrangThaiModal"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Tiêu đề</label>
            <textarea class="form-control" style=" height: 20px; width: 420px" id="TieuDe" readonly></textarea>
          </div>

          <div class="form-group col-md-6">

            <label class="control-label">Mô tả</label>
            <textarea class="form-control" style=" height: 20px; width: 420px" id="NoiDung" readonly> </textarea>

          </div>

          <div class="form-group col-md-6" style="margin-left: 230px;">
            <img src="" alt="" id="img" class="img-card-person2">
          </div>


        </div>


        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left: 400px;">Đóng</a>

      </div>

    </div>
  </div>
</div>
<script>
  const textarea = document.querySelector("textarea");
textarea.setAttribute("readonly", true);
</script>
<script>
  // ẩn hiện form
  const addNewBtn = document.getElementById("add-new-btn");
  let showForm = false;

  addNewBtn.addEventListener("click", () => {
    showForm = !showForm; // Đảo ngược giá trị của biến showForm
    const form = document.getElementById("product-form");
    form.style.display = showForm ? "block" : "none"; // Hiện hoặc ẩn form tùy thuộc vào giá trị của biến showForm
  });
  async function chitiet(id) {
    const response = await fetch(`/api/voucher/find/${id}`).then(response => response.json());


    document.getElementById("MaGiamGia").innerHTML = response.MaGiamGia
    document.getElementById("NoiDung").innerHTML = response.NoiDung
    document.getElementById("TieuDe").innerHTML = response.TieuDe
    document.getElementById("TrangThaiModal").innerHTML = response.TrangThai
    document.getElementById("HSD1").innerHTML = response.HSD
    document.getElementById("NgayBD").innerHTML = response.NgayBD
    document.getElementById("GiaTri").innerHTML = response.GiaTri
    document.getElementById("GiaTriMax").innerHTML = response.GiaTriMax
    document.getElementById("img").src = "/images/" + response.HinhAnh

    // format giá 
    var GiaTriMax = document.querySelector('#GiaTriMax');
    const formattedPrice = new Intl.NumberFormat('vi-VN').format(GiaTriMax.innerHTML, {
      minimumFractionDigits: 2,
      decimal: ',',
      thousandsSeparator: '.',
    });
    GiaTriMax.innerHTML = formattedPrice + " đ"

    // format Ngày ================
    var NgayBD = document.querySelector("#NgayBD");
    const date = new Date(NgayBD.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year
    NgayBD.innerHTML = formattedDate
    GiaTriMax.innerHTML = formattedPrice + " đ"

    var HSD = document.querySelector("#HSD1");
    const date1 = new Date(HSD.innerHTML);
    const day1 = date.getDate();
    const month1 = date.getMonth() + 1;
    const year1 = date.getFullYear();
    const formattedDateHSD = day1 + '/' + month1 + '/' + year1
    HSD.innerHTML = formattedDateHSD
    // ================

    // validate trạng thái
    const TrangThaiModal = document.querySelector('#TrangThaiModal');
    if (TrangThaiModal.innerHTML === "true") {
      TrangThaiModal.innerHTML = "Hoạt động"
      TrangThaiModal.style.color = "#02790C"
    } else {
      TrangThaiModal.innerHTML = "Hết hạn"
      TrangThaiModal.style.color = "#A90312"
    }


  }

</script>

<script>
  // số tứ tự
  var stt = 0
  const stt1 = document.querySelectorAll(".stt");
  stt1.forEach((i) => {
    stt++;
    i.innerText = stt
  })
  console.log(stt1.length)

  load_data()
  async function load_data() {
    var TrangThai = document.querySelectorAll('.TrangThai');
    var HSD = document.querySelectorAll(".HSD");
    HSD.forEach((i) => {
      const date = new Date(i.innerHTML);
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      const formattedDate = day + '/' + month + '/' + year
      i.innerHTML = formattedDate
    })


    TrangThai.forEach((i) => {

      if (i.innerHTML === "true") {
        i.innerHTML = "Hoạt động"
        i.style.color = "#02790C"
      } else {
        i.innerHTML = "Hết hạn"
        i.style.color = "#A90312"
        i.style.background = "#F9C9CD"
      }
    })
  }

</script>


<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>