<header class="app-header">
  <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
    aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">


    <!-- User Menu-->
    <li><a class="app-nav__item" href="/src/resources/views/index1.html"><i class='bx bx-log-out bx-rotate-180'></i>
      </a>

    </li>
  </ul>
</header>

<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/public/images/images/FastCar.jpg"
      width="50px" alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>FastCar</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item " href="/index"><i class='app-menu__icon bx bx-home-alt'></i><span
          class="app-menu__label">Trang chủ</span></a></li>


    <li><a class="app-menu__item" href="/quanlyxe"><i class='app-menu__icon bx bxs-car'></i><span
          class="app-menu__label">Quản lý xe</span></a>
    </li>
    <li><a class="app-menu__item" href="/chuyenXe"><i class='app-menu__icon bx bxs-cart-download'></i><span
          class="app-menu__label">Chuyến</span></a>
    </li>
    <li><a class="app-menu__item" href="/thongbao"><i class='app-menu__icon bx bxs-bell'></i><span
          class="app-menu__label">Thông báo</span></a>
    </li>
    <li><a class="app-menu__item" href="/khuyenmai"><i class='app-menu__icon bx bxs-discount'></i><span
          class="app-menu__label">Khuyến mãi</span></a>
    </li>

    <li><a class="app-menu__item" href="/thongke"><i class='app-menu__icon bx bx-task'></i><span
          class="app-menu__label">Thống kê</span></a></li>



    <li><a class="app-menu__item " href="/khachhang"><i class='app-menu__icon bx bx-id-card'></i> <span
          class="app-menu__label">Quản lý khách hàng</span></a></li>
  </ul>
</aside>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Thông báo</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">

              <a class="btn btn-add btn-sm" href="/quanlyxe/danhsachxe">
                Danh sách xe</a>
            </div>



            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i> Xóa tất cả </a>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                  <h4>Tổng xe</h4>
                  <p><b>100 xe</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                  <h4>Xe đã duyệt</h4>
                  <p><b>68 xe </b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                <div class="info">
                  <h4>Xe chờ duyệt</h4>
                  <p><b>20 xe</b></p>
                </div>
              </div>
            </div>

          </div>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th width="10"><input type="checkbox" id="all"></th>
                <th width="110">Tên chủ xe</th>
                <th width="100">Số điện thoại</th>
                <th width="100">Ảnh</th>
                <th width="100">Mẫu xe</th>
                <th width="100">Năm sản xuất</th>
                <th width="100">Số ghế</th>
                <th width="100">Truyền động</th>
                <th width="100">Loại nhiêu liệu</th>
                <th width="100">Giá </th>
                <th width="120">Chi tiết</th>
                <th width="120">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td width="10"><input type="checkbox" name="check1" value="1"></td>
                <td>{{this.ChuSH.UserName}}</td>
                <td>{{this.ChuSH.SDT}}</td>
                <td><img src="/images/{{this.HinhAnh.[0]}}" alt="" width="100px;"></td>
                <td>{{this.MauXe}}</td>
                <td>{{this.NSX}} </td>
                <td>{{this.SoGhe}} </td>
                <td>{{this.ChuyenDong}} </td>
                <td>{{this.LoaiNhienLieu}} </td>
                <td>{{this.GiaThue1Ngay}}</td>
                <td> <a class="btn btn-info " href="/quanlyxe/ChiTietXe/{{this._id}}"> Xem chi tiết</a></td>
                <td>
                  <a class="btn btn-success" href="#" id="button-duyet1" data-status="Chưa duyệt">Duyệt</a>
                </td>

              </tr>

              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<!--
  MODAL
-->
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Thông tin xe</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Tên khách hàng</label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Số điện thoại</label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Biển số xe</label>
            <div class="form-control">
              <p>88A1-82828</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Hãng xe</label>
            <div class="form-control">
              <p>VinFast</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Mẫu xe</label>
            <div class="form-control">
              <p>VinFast F4</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Năm sản xuất</label>
            <div class="form-control">
              <p>2020</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Số Ghế</label>
            <div class="form-control">
              <p>4</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Truyền động</label>
            <div class="form-control">
              <p>Số tự động</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Loại nhiêu liệu</label>
            <div class="form-control">
              <p>Xăng</p>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label for="exampleSelect1" class="control-label">Tình trạng </label>
            <div class="form-control">
              <p>Nguyễn Văn A</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá thuê</label>
            <div class="form-control">
              <p>500.000vnđ</p>
            </div>
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Mô tả</label>
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label">Ảnh xe</label>
          <div id="myfileupload">
            <input type="file" id="uploadfile" name="ImageUpload" multiple onchange="readURL(this);" />
          </div>

          <div id="boxchoice">
            <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
            <p style="clear:both"></p>

          </div>

        </div>
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--
MODAL
-->
<script>
  let buttonStatus = "Chưa duyệt";

  // Tạo một hàm để xử lý sự kiện click của nút
  function handleClick() {
    // Thay đổi trạng thái của nút
    buttonStatus = "Đã duyệt";

    // Thay đổi văn bản của nút
    this.textContent = buttonStatus;
  }

  // Thêm sự kiện click cho tất cả các nút
  for (let i = 0; i < document.querySelectorAll(".btn-success").length; i++) {
    document.querySelectorAll(".btn-success")[i].addEventListener("click", handleClick);
  }

</script>
<script>
  const input = document.querySelector("#uploadfile");
  const boxChoice = document.querySelector("#boxchoice");

  boxChoice.addEventListener("click", function () {
    input.click();
  });

  input.addEventListener("change", function () {
    const files = input.files;

    // Kiểm tra xem số lượng tệp được chọn có bằng 4 không.
    if (files.length !== 4) {
      alert("Bạn phải chọn 4 ảnh.");
      return;
    }

    // Đọc các tệp đã chọn và hiển thị chúng.
    for (let i = 0; i < files.length; i++) {
      const reader = new FileReader();

      reader.onload = function () {
        const imageUrl = reader.result;

        // Hiển thị ảnh đã chọn.
        const img = document.createElement("img");
        img.src = imageUrl;
        boxChoice.appendChild(img);
      }

      reader.readAsDataURL(files[i]);
    }
  });
</script>
<!-- Essential javascripts for application to work-->
<script src="/src/doc/js/jquery-3.2.1.min.js"></script>
<script src="/src/doc/js/popper.min.js"></script>
<script src="/src/doc/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/src/doc/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/src/doc/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/src/doc/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/src/doc/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
  $('#sampleTable').DataTable();
  //Thời Gian
  function time() {
    var today = new Date();
    var weekday = new Array(7);
    weekday[0] = "Chủ Nhật";
    weekday[1] = "Thứ Hai";
    weekday[2] = "Thứ Ba";
    weekday[3] = "Thứ Tư";
    weekday[4] = "Thứ Năm";
    weekday[5] = "Thứ Sáu";
    weekday[6] = "Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    nowTime = h + " giờ " + m + " phút " + s + " giây";
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = day + ', ' + dd + '/' + mm + '/' + yyyy;
    tmp = '<span class="date"> ' + today + ' - ' + nowTime +
      '</span>';
    document.getElementById("clock").innerHTML = tmp;
    clocktime = setTimeout("time()", "1000", "Javascript");

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  }
</script>
<script>
  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("myTable").deleteRow(i);
  }
  jQuery(function () {
    jQuery(".trash").click(function () {
      swal({
        title: "Cảnh báo",
        text: "Bạn có chắc chắn là muốn xóa sản phẩm này?",
        buttons: ["Hủy bỏ", "Đồng ý"],
      })
        .then((willDelete) => {
          if (willDelete) {
            swal("Đã xóa thành công.!", {

            });
          }
        });
    });
  });
  oTable = $('#sampleTable').dataTable();
  $('#all').click(function (e) {
    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
    e.stopImmediatePropagation();
  });
</script>