<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Thông báo</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">

              <a class="btn btn-add btn-sm" href="/quanlyxe/danhsachxe">
                Danh sách xe</a>
            </div>



            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                  class="fas fa-trash-alt"></i> Xóa tất cả </a>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                  <h4>Tổng xe</h4>
                  <p><b id="info_tong_xe"></b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                  <h4>Xe đã duyệt</h4>
                  <p><b id="daduyen"></b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                <div class="info">
                  <h4>Xe chờ duyệt</h4>
                  <p><b id="choduyen"></b></p>
                </div>
              </div>
            </div>

          </div>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th width="10">STT</th>
                <th width="100">Biển số xe</th>
                <th width="100">Tên xe</th>
                <th width="100">Ảnh</th>
                <th width="100">Số ghế</th>
                <th width="100">Năm sản xuất</th>
                <th width="100">Loại nhiêu liệu</th>
                <th width="100">Giá </th>
                <th width="110">Tên chủ xe</th>
                <th width="120">Chi tiết</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <td>{{thi.stt}}</td>
              <td>{{this.BKS}} </td>
              <td>{{this.MauXe}}</td>
              <td><img src="/images/{{this.HinhAnh[0]}}" alt="" width="100px;" class="img-card-person1"></td>
              <td>{{this.SoGhe}} </td>
              <td>{{this.NSX}}</td>
              <td>{{this.LoaiNhienLieu}} </td>
              <td>{{this.GiaThue1Ngay}} đ</td>
              <td>{{this.ChuSH.UserName}}</td>
              <td> <a class="btn btn-info " href="/quanlyxe/ChiTietXe/{{this._id}}"> Xem chi tiết</a></td>`;
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  load_data()
  async function load_data() {
    const response = await fetch('/api/xe/list').then(response => response.json());
    var stt = 0;
    var tt0 = 0;
    var tt1 = 0;

    var STT = document.querySelector('.Stt');
    var tongxe = document.getElementById('info_tong_xe').innerText = response.length + " Xe";

    response.forEach(xe => {
      stt += 1;
      // xe chờ duyệt
      if (xe.TrangThai == 0) {
        tt0 += 1;
      }
      if (xe.TrangThai == 1) {
        tt1 += 1;
      }
    });
    console.log("abc", tt1)
    document.getElementById('choduyen').innerText = tt0 + " Xe";
    document.getElementById('daduyen').innerText = tt1 + " Xe";
  }

</script>
<script>
  const input = document.querySelector("#uploadfile");
  const boxChoice = document.querySelector("#boxchoice");

  boxChoice.addEventListener("click", function () {
    input.click();
  });

  input.addEventListener("change", function () {
    const files = input.files;

    // Kiểm tra xem số lượng tệp được chọn có bằng 4 không.
    if (files.length !== 4) {
      alert("Bạn phải chọn 4 ảnh.");
      return;
    }

    // Đọc các tệp đã chọn và hiển thị chúng.
    for (let i = 0; i < files.length; i++) {
      const reader = new FileReader();

      reader.onload = function () {
        const imageUrl = reader.result;

        // Hiển thị ảnh đã chọn.
        const img = document.createElement("img");
        img.src = imageUrl;
        boxChoice.appendChild(img);
      }

      reader.readAsDataURL(files[i]);
    }
  });
</script>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>

</script>