<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Quản lý giao dịch</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">

       
            <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                  <h4>Tổng Yêu cầu</h4>
                  <p><b>100</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                  <h4>Chờ thanh toán</h4>
                  <p><b >20 </b></p>
                 
                </div>
              </div>
            </div>
         <div class="col-md-6 col-lg-3">
           <div class="widget-small info coloured-icon"><i
            class='icon fa-3x bx bxs-user'></i>
            <div class="info">
            <h4> Đã thanh toán</h4>
          <p><b>80</b></p>
            </div>
            </div>
             </div>

          </div>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
            id="sampleTable">
            <thead>
              <tr>
                <th style="text-align: center;"width="10">STT</th>
                <th style="text-align: center;"width="150">Tên khách hàng</th>   
                <th style="text-align: center;"width="150">Số dư ví</th>
                <th  style="text-align: center;"width="50">Số tiền rút</th>
                <th  style="text-align: center;"width="80">Nôi dung giao dịch</th>
                <th  style="text-align: center;"width="80">Thời gian</th>
                <th style="text-align: center;"width="100">Trạng thái</th>
                <th style="text-align: center;"width="100">Chức năng</th>

              </tr>
            </thead>
            <tbody>
          
              <tr >
                <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="stt">{{@index}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">1</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.SoDu}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.SoTienGD}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.NoiDung}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.ThoiGian}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TrangThai}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;"> <a class="btn btn-info " href="/thanhtoan/ChiTietThanhToan/{{this._id}}"> Xem chi tiết</a></td>


              </tr>
            

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
<script>
    // số tứ tự
  var stt = 0
  const stt1 = document.querySelectorAll(".stt");
  stt1.forEach((i) => {
    stt++;
    i.innerText = stt
  })
  console.log(stt1.length)
</script>


 
  <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="/publicjs/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/public/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
 
 

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });

    
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    {{!-- $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    }); --}}
  </script>
</body>

</html>