<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Khách hàng đang thuê</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">
              <button type="button" id="add-new-btn" class="btn btn-add btn-sm"> Thông tin xe</button>
            </div>




          </div>

          <form action="/api/voucher/create" id="product-form" method="post" enctype="multipart/form-data">

            <h1 style="font-size: 20px; ">Thông tin xe</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;"> Tên xe: <span id="tenxe" style="font-weight: bold;"></span>
                  </label>
                </div>

                <div class="col-md-12">
                  <label style="font-size: 18px;">Biển số xe: <span id="bks" style="font-weight: bold;"></span>
                  </label>
                </div>

              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;">Hãng: <span id="hang" style="font-weight: bold;"></span>
                  </label>
                </div>

                <div class="col-md-12">
                  <label style="font-size: 18px;">Loại nhiên liệu: <span id="loainhienlieu"
                      style="font-weight: bold;"></span> </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;">Số ghế: <span id="soghe" style="font-weight: bold;"></span></label>
                </div>
                <div class="col-md-12">
                  <label style="font-size: 18px;">Truyền động: <span id="sotudong" style="font-weight: bold;"></span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;"> Năm sản xuất: <span id="nsx" style="font-weight: bold;"></span>
                  </label>
                </div>


              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;">Giá thuê: <span id="gia" style="font-weight: bold;"></span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <label style="font-size: 18px;"> Chủ xe: <span id="username" style="font-weight: bold;"></span>
                  </label>
                </div>
              </div>
            </div>




          </form>
          <div class="row element-button">
          </div>
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <th width="10"> STT</th>
              <th width="100">Mã HĐ</th>
              <th width="100">Tên khách hàng</th>
              <th width="100">Số điện thoại</th>
              <th width="100">Địa chỉ</th>
              <th width="100">Email</th>
              <th width="100">Giới tính </th>
              <th width="100">Ngày sinh </th>
              <th width="100">Chức năng</th>


              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td class="stt">{{@index}}</td>
                <td>{{this.MaHD}}</td>
                <td>{{this.User.UserName}}</td>
                <td>{{this.User.SDT}}</td>
                <td>{{this.User.DiaChi_GPLX}}</td>
                <td>{{this.User.Email}}</td>
                <td>{{this.User.GioiTinh}}</td>
                <td>{{this.User.NgaySinh}}</td>

                <td> <a class="btn btn-info " href="/chuyenxe/ChiTietChuyen/{{this._id}}"> Hóa đơn</a></td>

              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{{!-- Modal --}}
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Hình ảnh xe</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex;">
              <img src="/images/{{this.HinhAnh.[0]}}" alt="" height="240px" width="340px" style="margin-left:30px;">

              <img src="/images/{{this.HinhAnh.[1]}}" alt="" height="240px" width="340px" style="margin-left:140px;">

            </div>
            <BR>
            <div class="images" style=" display: flex;">
              <img src="/images/{{this.HinhAnh.[2]}}" alt="" height="240px" width="340px" style="margin-left:30px;">
              <img src="/images/{{this.HinhAnh.[3]}}" alt="" height="240px" width="340px" style="margin-left:140px;">

            </div>
          </div>
        </div>
        <BR>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{{!-- ảnh bằng lái --}}
<div class="modal fade" id="ModalUP1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Hình ảnh bằng lái</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex;">
              <img src="https://cdn.thuvienphapluat.vn//uploads/tintuc/2022/08/22/mat-truoc-bang-lai-xe.jpg" alt=""
                height="240px" width="340px" style="margin-left:40px;">

              <img src="https://cdn.thuvienphapluat.vn//uploads/tintuc/2022/08/22/mat-sau-bang-lai-xe.jpg" alt=""
                height="240px" width="340px" style="margin-left:150px;">
            </div>
            <BR>

          </div>
        </div>
        <BR>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{{!-- ảnh bảo hiểm --}}
<div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false" height="900px" width="950px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Hình ảnh bảo hiểm</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex;">
              <img src="https://hyundaiphanthiet.vn/wp-content/uploads/2021/09/Xehay-BH-220421-6_1.jpg" alt=""
                height="240px" width="340px" style="margin-left:40px;">

              <img
                src="https://luatsux.vn/wp-content/uploads/2022/07/Bao-hiem-trach-nhiem-dan-su-o-to-co-bat-buoc-khong.png"
                alt="" height="240px" width="340px" style="margin-left:150px;">
            </div>
            <BR>

          </div>
        </div>
        <BR>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:45%;">Đóng</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{{!-- ảnh bảo hiểm --}}
<div class="modal fade" id="ModalUP2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false" height="900px" width="950px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Hình ảnh bảo hiểm</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style=" display: flex;
        flex-direction: column;">
            <div class="images" style=" display: flex;">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px">
              <img
                src="https://cdn.vietnambiz.vn/1881912202208555/images/2023/07/10/bang-gia-xe-o-to-vinfast-20230710142102225.jpg"
                alt="" height="100px" width="150px" style="margin-left:100px;">
            </div>
            <BR>

          </div>
        </div>
        <BR>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left:180px;">Đóng</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
 
  load()

  async function load() {

    // Lấy URL hiện tại
    const url = window.location.href;

    // đến chuỗi url`
    const idStart = "http://localhost:9000/quanlyxe/ThongTinKhachThue/";

    // cắt chuỗi chuỗi :id
    const id = url.slice(idStart.length, url.length);

    const response = await fetch(`/api/xe/find_id/${id}`).then(response => response.json());
    console.log(response)
    document.getElementById('tenxe').innerHTML = response.MauXe
    document.getElementById('username').innerHTML = response.ChuSH.UserName
    document.getElementById('gia').innerHTML = response.GiaThue1Ngay
    document.getElementById('nsx').innerHTML = response.NSX
    document.getElementById('sotudong').innerHTML = response.ChuyenDong
    document.getElementById('soghe').innerHTML = response.SoGhe
    document.getElementById('hang').innerHTML = response.HangXe
    document.getElementById('bks').innerHTML = response.BKS
    document.getElementById('loainhienlieu').innerHTML = response.LoaiNhienLieu

    var GiaThue = document.querySelector('#gia');

    const formattedPrice = new Intl.NumberFormat('vi-VN').format(GiaThue.innerHTML, {
      minimumFractionDigits: 2,
      decimal: ',',
      thousandsSeparator: '.',
    });
    GiaThue.innerHTML = formattedPrice + " đ"

  }




</script>