<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Thông báo</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">
              <button type="button" id="add-new-btn" class="btn btn-add btn-sm"> <i class="fas fa-plus"></i> Thêm
                mới</button>
            </div>


            <div class="col-md-5"></div>


            <form action="/khuyenmai" method="get" class="row">
              <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;">
                <label class="control-label1">Từ ngày</label>
                <input class="form-control1" type="date" name="start_date" required>
              </div>
              <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                <label class="control-label1">Đến ngày</label>
                <input class="form-control1" type="date" name="end_date" required>
              </div>
              <div class="col-sm-22" style="margin-left: 20px;  ">
                <button class="btn btn-tim-kiem" type="submit" style="color: #fff; background-color: #38a927; width: 80px; height: 30px;
                                     display: flex; justify-content: center; align-items: center;">Tìm kiếm</button>
              </div>
            </form>
          </div>

          <form action="/api/thongbao/create" id="product-form" method="post" enctype="multipart/form-data"
            style="display: none;">

            <div class="row">
              <div class="form-group col-md-3" style="margin-left: 20px;">
                <label for="quantity" class="control-label">Tiêu đề</label>
                <input class="form-control" type="text" id="quantity" name="TieuDe" class="form-control" required
                  placeholder="Nhập tiêu đề">
              </div>
              <div class="form-group col-md-3" style="margin-left: 20px;">
                <label for="image" class="control-label">Ảnh </label>
                <input type="file" id="image" name="HinhAnh" class="form-control" accept="image/*" required>

              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-3" style="margin-left: 20px">
                <label for="price" class="control-label">Nôi dung</label>
                <textarea class="form-control" style=" height: 20px; width: 450px;" name="NoiDung" id="price" cols="30"
                  class="form-control" rows="10" required placeholder="Nhập nội dung"></textarea>

              </div>
            </div>

            <div style="margin-left: 18px;">
              <button class="btn btn-save" type="submit">Lưu lại</button>

            </div>
          </form>
        </div>


        </form>
        <div class="row element-button">
        </div>
        <table class="table table-hover table-bordered" id="sampleTable">
          <thead>
            <tr>
              <th style="text-align: center;" width="10">STT</th>
              <th style="text-align: center;  width: 80px;">Tiêu đề</th>
              <th style="text-align: center; width: 80px;">Ảnh</th>
              <th style="text-align: center; width: 50px;">Ngày đăng</th>
              <th style="text-align: center; width: 100px;">Nội dung</th>
              <th style="text-align: center; width: 50px;">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="stt">{{@index}}</td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TieuDe}}</td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;"><img
                  src="/images/{{this.HinhAnh}}" alt="" class="img-card-person3"></td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;" class="NgayDang"
                style="width: 150px;">{{this.createdAt}}</td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.NoiDung}}</td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;"> <button
                  class="btn btn-info" type="button" id="show-emp" data-toggle="modal" data-target="#ModalUP"
                  onclick="chitiet(`{{this._id}}`)">Xem chi
                  tiết</button></td>


            </tr>
            {{/each }}


          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>

<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5 id="titlemodal"> </h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" style="margin-left: 230px;">
            <img id="img" class="img-card-person2">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Tiêu đề</label>
            <div class="form-control">
              <p><b id="TieuDe"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Ngày đăng</label>
            <div class="form-control">
              <p><b id="Ngaydang"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Mã khuyến mãi</label>
            <div class="form-control">
              <p><b id="MaGiamGia"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá trị giảm(%)</label>
            <div class="form-control">
              <p><b id="GiaTri"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá trị giảm</label>
            <div class="form-control">
              <p><b id="GiaTriMax"></b></p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Nôi dung</label>
            <textarea class="form-control" style=" height: 10px; width: 420px" id="NoiDung" readonly></textarea>
          </div>



        </div>
        <a class="btn btn-cancel" data-dismiss="modal" href="#" style="margin-left: 400px;">Đóng</a>

      </div>

    </div>
  </div>
</div>
<script>
  const textarea = document.querySelector("textarea");
textarea.setAttribute("readonly", true);
</script>
<script>
  async function chitiet(id) {
    const response = await fetch(`/api/thongbao/find/${id}`).then(response => response.json());

    document.getElementById("titlemodal").innerHTML = "Thông báo khuyến mãi"
    document.getElementById("MaGiamGia").innerHTML = response.MaGiamGia
    document.getElementById("NoiDung").innerHTML = response.NoiDung
    document.getElementById("TieuDe").innerHTML = response.TieuDe
    document.getElementById("GiaTri").innerHTML = response.GiaTri + " %"
    document.getElementById("GiaTriMax").innerHTML = response.GiaTriMax
    document.getElementById("img").src = "/images/" + response.HinhAnh
    document.getElementById("Ngaydang").innerHTML = response.createdAt


    // format giá 
    var GiaTriMax = document.querySelector('#GiaTriMax');
    const formattedPrice = new Intl.NumberFormat('vi-VN').format(GiaTriMax.innerHTML, {
      minimumFractionDigits: 2,
      decimal: ',',
      thousandsSeparator: '.',
    });
    GiaTriMax.innerHTML = formattedPrice + " đ"

    // format Ngày ================
    var Ngaydang = document.querySelector("#Ngaydang");
    const date = new Date(Ngaydang.innerHTML);
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year
    Ngaydang.innerHTML = formattedDate
    GiaTriMax.innerHTML = formattedPrice + " đ"

    if (response.MaGiamGia == undefined) {
      document.getElementById("titlemodal").innerHTML = "Thông tin Thông báo"
      document.getElementById("MaGiamGia").innerHTML = ""
      document.getElementById("GiaTri").innerHTML = ""
      document.getElementById("GiaTriMax").innerHTML = ""



    }
  }
</script>
<script>
  // ẩn hiện form
  const addNewBtn = document.getElementById("add-new-btn");
  let showForm = false;

  addNewBtn.addEventListener("click", () => {
    showForm = !showForm; // Đảo ngược giá trị của biến showForm
    const form = document.getElementById("product-form");
    form.style.display = showForm ? "block" : "none"; // Hiện hoặc ẩn form tùy thuộc vào giá trị của biến showForm
  });


</script>
<script>
  // số tứ tự
  var stt = 0
  const stt1 = document.querySelectorAll(".stt");
  stt1.forEach((i) => {
    stt++;
    i.innerText = stt
  })
  console.log(stt1.length)

  load_data()
  async function load_data() {
    var HSD = document.querySelectorAll(".NgayDang");
    HSD.forEach((i) => {
      const date = new Date(i.innerHTML);
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      const formattedDate = day + '/' + month + '/' + year
      i.innerHTML = formattedDate
    })
  }

</script>
<!-- Essential javascripts for application to work-->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="/publicjs/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/public/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>