
    <main class="app-content">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a href="#"><b>Thống kê</b></a></li>
        </ul>
        <div id="clock"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="row element-button"  >
                <div class="col-sm-2">
  
                  <a class="btn btn-add btn-sm" href="/thongke/ThongKeTopXe" title="Thêm"><i class=""></i>
                  Thống kê Top Xe</a>
                </div>
                 
              
                <div class="end" style="margin-left: 720px;  " >
                <div class="row">
                  <div class="col-sm-22" style="margin-left: 20px; font-weight: bold ;font-size: 15px;" >
                    <label class="control-label1">Từ ngày</label>
                    <input class="form-control1"  type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;font-weight: bold; font-size: 15px;">
                    <label class="control-label1" >Đến ngày</label>
                    <input class="form-control1"  type="date" required>
                  </div>
                  <div class="col-sm-22" style="margin-left: 20px;  ">
                    <a class="btn btn-tim-kiem" href="" title="button" style="color: #fff; background-color: #38a927; width: 80px; height: 30px; display: flex; justify-content: center;
                    align-items: center;">Tìm kiếm</a>
                  </div>
              </div>
            </div>
          </div>
           
              <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                        <div class="info">
                            <h4>Tổng Chuyến</h4>
                            <p><b>100 Chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x' ></i>
                        <div class="info">
                            <h4>Chuyến Thành công</h4>
                            <p><b>68 chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle' ></i>
                        <div class="info">
                            <h4>Chuyến đã hủy</h4>
                            <p><b>4 Chuyến</b></p>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-3">
                  
                  <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt' ></i>
                        <div class="info">
                            <h4>Chuyến Chờ cọc</h4>
                            <p><b>10 chuyến</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge' ></i>
                    <div class="info">
                        <h4> Chuyến Đang hoạt động</h4>
                        <p><b>20 chuyến</b></p>
                    </div>
                </div>
            </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge' ></i>
                        <div class="info">
                            <h4> Chuyến Đã cọc</h4>
                            <p><b>20 chuyến</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart' ></i>
                      <div class="info">
                          <h4>Doanh thu</h4>
                          <p><b>104.890.000 đ</b></p>
                      </div>
                  </div>
              </div>
               
                </div>
            </div>
            <div class="row element-button">
            </div>
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                      <th style="text-align: center;" width="10">STT</th>
                    <th style="text-align: center;">Mã hóa đơn</th>
                    <th style="text-align: center;">Tên Chủ xe</th>
                    <th style="text-align: center;">Tên xe</th>
                    <th style="text-align: center;">Biển số xe</th>
                    <th style="text-align: center;">Giá thuê</th>
                    <th style="text-align: center;">Lượt Thuê</th>
                    <th style="text-align: center;">Trạng thái</th>
                    <th style="text-align: center;">Tiền cọc</th>
                    <th style="text-align: center;">Tổng tiền</th>
                    <th style="text-align: center;"> Tiền Hoa hồng</th>
                    
                  </tr>
                </thead>
                <tbody>
                
                    {{#each data}}
          <tr>
            <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{@index}}</td>
            <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.MaHD}}</td>
            <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.User}}</td>
            <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.MauXe}}</td>
            <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.BKS}}</td>
             <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.GiaThue1Ngay}}</td> 
              <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.SoChuyen}}</td>
              <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TrangThaiHD}}</td>
               <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TienCoc}}</td>
                <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.TongTien}}</td>
                 <td style="text-align: center; word-break: break-word;vertical-align: middle;">{{this.NoiDung}}</td>

         
          </tr>
          {{/each }}
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  <!-- Essential javascripts for application to work-->
   <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="/publicjs/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/public/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="/public/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
      jQuery(".trash").click(function () {
        swal({
          title: "Cảnh báo",
         
          text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
          buttons: ["Hủy bỏ", "Đồng ý"],
        })
          .then((willDelete) => {
            if (willDelete) {
              swal("Đã xóa thành công.!", {
                
              });
            }
          });
      });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
      $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
      e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
      var today = new Date();
      var weekday = new Array(7);
      weekday[0] = "Chủ Nhật";
      weekday[1] = "Thứ Hai";
      weekday[2] = "Thứ Ba";
      weekday[3] = "Thứ Tư";
      weekday[4] = "Thứ Năm";
      weekday[5] = "Thứ Sáu";
      weekday[6] = "Thứ Bảy";
      var day = weekday[today.getDay()];
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      nowTime = h + " giờ " + m + " phút " + s + " giây";
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
        '</span>';
      document.getElementById("clock").innerHTML = tmp;
      clocktime = setTimeout("time()", "1000", "Javascript");

      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    }
    //In dữ liệu
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('sampleTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
  </script>
</body>

</html>